[2013-03-15 11:36] aaschmid opened #7 "DataProvider test appear under category "Unrooted test" in JUnit Eclipse plugin"
Using Eclipse JUnit plugin some test cases appear under the category "Unrooted tests" instead of the expected class name, see ![Unrooted Tests Eclipse JUnit](https://f.cloud.github.com/assets/567653/263271/b9efa454-8d64-11e2-8542-76aa7ae8521d.png)

See the reproducer in `com.tngtech.test.java.junit.dataprovider.DataProviderEclipseJUnitPluginUnrootedReproducerAcceptanceTest` for more information.

[2013-04-26 14:21] aaschmid opened #9 "Run single testMethod which is using a dataprovider from Eclipse does not work"
see ![Bildschirmfoto 2013-04-26 um 16 20 08](https://f.cloud.github.com/assets/567653/430977/7220528e-ae7c-11e2-883e-1b1e26674a77.png) produces
![Bildschirmfoto 2013-04-26 um 16 20 44](https://f.cloud.github.com/assets/567653/430985/810ba4c4-ae7c-11e2-9876-98dfdd156acb.png)

[2013-04-28 16:33] #9 closed, assigned to aaschmid

[2013-05-01 12:51] #7 closed, assigned to aaschmid

[2013-05-01 12:57] aaschmid opened #10 "Double clicking a executed test in Eclipse shows Method not found even it exists"
![bildschirmfoto 2013-05-01 um 14 56 45](https://f.cloud.github.com/assets/567653/448849/980a0806-b25e-11e2-9e25-55760bbb9df4.png)

[2013-05-01 13:02] aaschmid opened #11 "Running a single testMethod which is using a dataprovider from Eclipse states all tests as unrooted"
The problem is that after running the data provider tests it is not possible to run a single (failed) test by right clicking it and choosing run/debug.

The error message is pretty much the as in #9, see

![bildschirmfoto 2013-05-01 um 15 01 02](https://f.cloud.github.com/assets/567653/448870/477476fa-b25f-11e2-906c-588c2891d334.png) and
![bildschirmfoto 2013-05-01 um 15 01 12](https://f.cloud.git

[2013-05-01 20:14] #11 closed, assigned to aaschmid

[2013-07-18 17:16] neojoda opened #12 "should have no parameters"
I am getting this error when running the dataprovider:

java.lang.Exception: Method checkValidSNumber_SNumberIsNotValid_returnFalse should have no parameters

I am trying to run it on a grails project.

Test class:

package utils

import org.junit.Before
import org.junit.runner.RunWith
import com.tngtech.java.junit.dataprovider.DataProvider
import com.tngtech.java.junit.dataprovider.DataProviderRu

[2013-11-28 15:24] #10 closed, assigned to aaschmid

[2013-11-29 10:53] #12 closed, assigned to aaschmid

[2014-02-14 11:09] platan opened #13 "Add LICENSE file"
Hi
In build.gradle I found that junit-dataprovider is licensed under the The Apache Software License, Version 2.0. Could you add please add LICENSE (https://help.github.com/articles/open-source-licensing) file to your project?

[2014-02-28 09:09] aburmeis opened #14 "Runner is incompatible with categories"
A test using a data provider (annotated with @RunWith(DataProviderRunner.class)) fails on initialization with an IllegalArgumentException when JUinit categories are used in the project (not necessary in the test class).

Simply declare an interface and add the category excluded in your suite. The runner will fail which the category filter passed:

[2014-03-04 14:54] aaschmid opened #15 "Change junit dependency scope of uploaded pom.xml to 'provided'"
If one uses it with e.g. JUnit 4.11 this can lead to problem having multiple JUnit versions on classpath.

[2014-03-04 15:05] #13 closed, assigned to aaschmid

[2014-03-07 16:00] #15 closed, assigned to aaschmid

[2014-03-07 19:13] #14 closed, assigned to aaschmid

[2014-03-10 11:13] aaschmid opened #16 "DataProviderFilter throws IllegalArgumentException if using maven with categories filter"
A maven project using a JUnit data provider which is used with

[code]

fails with following error/stacktrace:

[2014-03-10 11:34] #16 closed, assigned to aaschmid

[2014-04-18 10:13] aaschmid opened #17 "Support List<List<Object>> as well as Object[][] ..."
... to simplify using junit-dataprovider in languages which natively support list literals, such as
- Groovy,
- Scala,
- Xtend
- etc.

[2014-04-18 17:32] #17 closed, assigned to aaschmid

[2014-04-23 07:42] michaeladler opened #18 "Unable to execute a single test in latest IntelliJ (13.1.2)"
Since the latest update of IntelliJ (13.1.2), I can no longer execute a single test within a class.

Example:

[code]
Below is the exception I get when trying to execute the test:

[code]
However, executing the whole test class works. I'm not sure if this can be fixed in the junit-dataprovider.

[2014-04-30 19:10] janschaefer opened #20 "Provide fixed data sets directly in annotation"
The [junitparams](https://code.google.com/p/junitparams/) JUnit runner provides a way to define simple fixed data sets directly in the @Parameters annotation:

[code]

This is very useful for simple, fixed data sets as it does not require in these cases to define an additional method.
It would be great if the junit-dataprovider would also supports this feature!

[2014-05-09 14:28] aaschmid opened #21 "Provide some utility methods"
- A `$(...)` method as a shortcut for creating an array of `Object`s from varargs.
- A method to create an `Object[][]` for all enums in a class
- A method to create a test for every provided `Object`, e.g. `<T> Object[][] method(Iterable<T> args / T ... args) { ... }`

[2014-05-10 12:30] aaschmid opened #22 "Is it possible to execute @BeforeClass and @ClassRule before @DataProvider method?"
JUnit internally is first determining the test methods to be executed and validating as well as filtering them. At this point we already need to have the `@DataProvider` methods to be executed because otherwise we cannot (validate and) filter them.

Maybe by overriding the correct internal methods we can get around this ...

[2014-05-26 12:26] aaschmid opened #23 "Refactor formatting of paramters to separate class"

[2014-05-26 12:28] #23 closed, assigned to aaschmid

[2014-06-01 07:40] aaschmid opened #24 "Provide annotation properties for trimData and convertNulls for @DataProvider"
If `@DataProvider` is used directly, providing some properties for `trimData` and `convertNull` will let the user distinguish about what see wants.

_Note:_ follow up on #20.

[2014-06-01 07:48] #20 closed, assigned to aaschmid

[2014-06-01 08:02] aaschmid opened #25 "Further internal refactorings"
- Use base class for tests providing utility methods
- Simplify tests by reusing code which occurs in every test
- Extract functionality of converting data provider data (=> dedicated class)
- Format code and organize imports
- Refactor validation and generation of test methods with and without data provider and use dedicated classes

[2014-06-11 17:00] aaschmid opened #26 "Support all types for String[] syntax (and direct @DataProvider annotation) which have a constructor taking one String argument"
Is this a good idea to do so?
Note: Follow up on #20.

[2014-06-18 09:57] #25 closed, assigned to aaschmid

[2014-06-18 14:00] #26 closed, assigned to aaschmid

[2014-06-25 14:48] aaschmid opened #27 "Try always wrapped filter with fallback to original filter instead of blacklist"
Make filtering more fault tolerant because it is not possible to find all filters for a comprehensive black or white list.

[2014-06-29 12:27] #24 closed, assigned to aaschmid

[2014-07-11 13:53] #27 closed, assigned to aaschmid

[2014-07-17 22:10] ghost opened #29 "Handle initializationError and break the test"
When the list is null , the test throws initialization Error how do we handle it with out thrwoing a exception and handle from user front

[2014-07-17 22:12] ghost opened #30 "Customizing the Run test name when parameter list is too long , to give short name"
When the test is run the method name displayed the list of parameters .If there are more parameters how can we customize them.

[2014-07-18 08:51] aaschmid opened #31 "Better error messages containing test method and/or data provider name"
I think about the following improvements:
- Error messages should always contain test method and/or data provider name
- Test method parameters must match arguments of data provider (prevent exception in `dataProviderMethod.invokeExplosively(null);`

[2014-07-18 21:52] #31 closed, assigned to aaschmid

[2014-07-18 21:53] #21 closed, assigned to aaschmid

[2014-08-09 18:39] aaschmid opened #32 "Split README.md and use wiki"
What do you think? Is the `README.md` to long?

[2014-08-13 19:55] #30 closed, assigned to aaschmid

[2014-08-15 12:25] aaschmid opened #33 "Execute @ClassRule before @DataProvider method?"
Follow up on spiltted #22:

`@ClassRule` was introduced with JUnit 4.9 and we currently support JUnit >= 4.8.2.
Futhermore, the `withClassRules(Statement)` method is `private` such that the same implementation strategy as for `@BeforeClass` does not work here :-(

Please vote, if you require this feature!

[2014-08-15 18:20] #32 closed, assigned to aaschmid

[2014-08-16 19:12] janschaefer opened #34 "Since v1.9.0 the dollar character ($) in values is leading to exceptions"
The following test fails with v1.9.0:

[code]

Exception:

[code]

[2014-08-16 19:54] #34 closed, assigned to aaschmid

[2014-08-17 06:56] janschaefer opened #35 "ClassRules do not work anymore"
Since v1.9.0 ClassRules (since JUnit 4.9) do not work anymore.

See [ClassRuleAcceptanceTest](https://github.com/janschaefer/junit-dataprovider/blob/ISSUE-CLASSRULE/src/test/java/com/tngtech/test/java/junit/dataprovider/classrule/ClassRuleAcceptanceTest.java) for a test showing the issue.

[2014-08-17 09:55] aaschmid opened #37 "Add automatic tests for all supported JUnit versions"
Find out how this can be achieved using travis-CI et. al. and run all tests for all JUnit versions!

[2014-08-17 11:00] #33 closed, assigned to aaschmid

[2014-08-17 11:29] #35 closed, assigned to aaschmid

[2014-08-23 20:29] #37 closed, assigned to aaschmid

[2014-08-31 08:20] #22 closed, assigned to aaschmid

[2014-09-05 07:20] aaschmid opened #38 "Enable creation of mocks, spies and classUnderTest in junit-dataprovider"
(from https://github.com/piotrrepetowski/junit-parameters/issues/1#issuecomment-54537143)

Even if you can easily setup fields annotated with ```@Mock```, ```@Spy``` and ```@InjectMocks``` using
[code]
maybe we can find a good solutions automatically creating it.
Just be aware to avoid a dependency on Mockito.

[2014-09-15 07:30] hajo-tng opened #39 "Automatically do safe conversions of primitive types"
In version 1.7.0 this works:

[code]

In version 1.9.1 it results in this error, as the data provider gives an int where a long is expected:

[code]

Unfortunately this affects a large number of data providers in our project. It would be nice to be able to continue using ints and have them automatically converted to longs.

[2014-09-15 10:49] #39 closed, assigned to aaschmid

[2014-09-24 13:27] fbiville opened #40 "@ClassRule is ignored during execution"
The minimum reproducible test sample would be:

[code]

Something should be printed in the standard output, but it's not the case.
Please note that `@Rule` work well.

[2014-09-25 13:10] #40 closed, assigned to nobody

[2014-09-30 08:48] g-fresh opened #41 "Problems with test method parameters of type String containing newline"
In version 1.9.2, using data a provider which produces strings containing newline, results in strange behavior.

Exampe:

[code]

Running the method separately (not the complete test case), you get:

[code]

Without the last parameter ("\n"), things work as expected.

Running the complete test case from the console, everythings works as expected.
Running the complete test case from Eclipse, you do

[2014-10-07 20:01] aaschmid opened #42 "Problem with \n (= line feed) and \r (= carriage return) in test method description"
I still cannot reproduce the `Exception` in Eclipse Luna but here are more information about the problem, that the JUnit plugin does not show the test result properly due to the newline in the last tests `String`, see
![bildschirmfoto 2014-10-07 um 21 05 26](https://cloud.githubusercontent.com/assets/567653/4548421/f8e999e6-4e54-11e4-90aa-5bc2aaedc402.png)
(even the red stop button indicated that

[2014-10-27 18:45] #42 closed, assigned to aaschmid

[2014-10-27 18:50] #41 closed, assigned to aaschmid

[2014-12-14 09:01] #29 closed, assigned to aaschmid

[2015-01-09 15:17] zlnick opened #43 "Separate test data completely from test code in junit-dataprovider"
Hi guys, should it be a good feature if we separate test data from hard coded test?

So far I found that we can use junit-dataprovider to ease the pain to write test fixtures.
While in field, when we are trying to improve code coverage, we are usually faced of much more test fixtures and test oracles than test steps, right?

So if we can help testers to easily try a lot of test data (including bot

[2015-01-09 15:33] aaschmid commented on #43
Hi @zlnick,

thanks for your issue. Have you had a look at https://github.com/TNG/junit-dataprovider/wiki/Features#access-frameworkmethod-in-dataprovider. Here is at least a possibility to implement this.
Would this help you? IMHO this could be your start point.

I could further think about a custom ```Runner``` using custom annotations etc. to create the data automatically (i.e. using a generic `

[2015-01-10 13:09] zlnick commented on #43
Hi @aaschmid

Thank you for your reply.

Yes, with the use of user defined ```DataProvider``` loading data from file or DB can partly solve this problem.

The reason why I'd like external test data is when I'm testing DAOs or other service methods, if we can use the POJOs as test parameters, the test code will be very neat and short. Otherwise the codes to compose POJOs will take a considerable pa

[2015-01-10 15:55] janschaefer commented on #43
Hi @zlnick,

I think it should be pretty straightforward to implement this using the feature https://github.com/TNG/junit-dataprovider/wiki/Features#access-frameworkmethod-in-dataprovider as mentioned by @aaschmid above. You simply have your parameters in some file (XML or JSON maybe) and load that file in the method annotated with `@DataProvider`. You can then transform the content of the file in

[2015-01-10 21:47] aaschmid commented on #43
Hi @zlnick,

I agree with @janschaefer and think you could easily use the mentioned feature for it. By hiding all the XML processing stuff in some base class your code would be clear and easy to read. As testing is a really wide area and everybody preferring different test data locations, I am still neither sure nor convinced to implement a certain feature. I much more prefer having some open fram

[2015-01-11 04:04] zlnick commented on #43
Hi, @aaschmid @janschaefer

Thank you guys for your comments and tips.
I agree that tester's will appreciate different locations of their test data and indeed there are differences with the amount of data between tests.
Your comments make sense. Since this feature is not difficult to implement, we can leverage the implementation to the testers.

___________
Best wishes,
Nick

[2015-01-11 10:17] #43 closed

[2015-01-24 20:47] aaschmid commented on #38
I thought long about this and eventually I decided to *not* implement any special kind of treatment for ```Mockito``` within ```junit-dataprovider```. However, this could be easily done by adding this ```Rule```
[code]
and using it like this:
[code]

[2015-01-24 21:10] #38 closed

[2015-05-17 14:46] aaschmid opened #44 "Add support of varargs for test methods"
e.g.
[code]

[2015-05-29 07:26] seanf opened #45 "Confusing Error/NPE when @DataProvider method is non-static"
Adapting a former TestNG test, I had a data provider method which was not static, and got this error message.  It took me a while to work out what was wrong, so a clearer error message would be nice to have.

	java.lang.Error: Cannot explode 'ResourceUtilsTest.encodeDocIds' using 'urlPatterns' due to: Exception while invoking dataprovider method 'urlPatterns': null
		at com.tngtech.java.junit.data

[2015-05-29 07:32] aaschmid commented on #45
Hi @seanf,
thanks for your issue. Do you have a formulation in mind which would have help you better?
Thanks & Regards,
Andreas

[2015-05-29 07:37] seanf commented on #45
How about throwing an exception in TestGenerator.explodeTestMethod() with a
message like "DataProvider methods must not be static" when
dataProviderMethod has Modifier.STATIC?

On 29 May 2015 at 17:32, Andreas Schmid <notifications@github.com> wrote:

[2015-05-29 07:45] aaschmid commented on #45
I will fix it during the weekend. Thanks!

[2015-05-29 07:54] seanf commented on #45
Thanks for a great tool!

On 29 May 2015 at 17:45, Andreas Schmid <notifications@github.com> wrote:

[2015-05-30 06:50] #45 closed

[2015-05-30 06:51] aaschmid commented on #45
Thanks for reporting!

[2015-06-09 08:19] ChristianSchwarz opened #46 "IndexOutOfBoundsException is thrown when a class contains a method that returns anonymous class instances"
The following code snipped throws : ```java.lang.IndexOutOfBoundsException: No group 2````
Version 1.9.0
[code]

Stacktrace:

[code]

[2015-06-09 09:57] janschaefer commented on #46
You example works for me with version 1.9.3 using Java 1.6

[2015-06-09 10:12] aaschmid commented on #46
Hi @ChristianSchwarz,
please do not use version 1.9.0 because of two bugs (see also https://github.com/TNG/junit-dataprovider/releases/tag/v1.9.0). Sorry for the inconvience, but with v1.9.0 and above this should be fixed! But I suggest using 1.9.4 which contains several fixes.
Best regards,
Andreas

[2015-06-09 10:37] ChristianSchwarz commented on #46
Thanks, i can confirm that it works with 1.9.4!

[2015-06-09 10:37] #46 closed

[2015-06-29 22:27] spaceCamel commented on #18
I'm having this issue with IntelliJ IDEA 14 CE (14.0.1 and 14.1.4); junit-dataprovider 1.9.4; junit 4.12;

[code]

[code]

[2015-07-05 11:50] aaschmid commented on #18
Hi @spaceCamel,

thanks for reporting this. Can you please open a new issue if the exception is still raised? For me, though, the following example works using junit-dataprovider [v1.9.4](https://github.com/TNG/junit-dataprovider/releases/tag/v1.9.4) and IntelliJ IDEA 14.1.3:

[code]
using junit-dataprovider [v1.9.4](https://github.com/TNG/junit-dataprovider/releases/tag/v1.9.4) and IntelliJ IDEA

[2015-07-05 11:51] #18 closed

[2015-07-07 10:41] spaceCamel opened #47 "Unable to run single test in IntelliJ when the @DataProvider annotation has a format string"
Running in IntelliJ only `testMethod` works fine, while running `testMethodFailing` triggers
`java.lang.Exception: No tests found matching Method testMethodFailing(net.spacecamel.junitdataprovider.MyTest) from org.junit.internal.requests.ClassRequest@5eb5c224`

Apparently the problem happens when the format string contains "%p[0]". it works fine if the format string contains only "%m".

[code]

[2015-07-07 14:06] aaschmid commented on #47
Hi @spaceCamel,

thanks for reporting this. Unfortunately, this behavior is quite obvious because the filtering of test methods is done via its ```Description```. By providing a ```format``` the ```Description``` is changed to the desired format. This is documented in more detail at  https://github.com/TNG/junit-dataprovider/wiki/Features#customize-test-method-name:

You could use something like `

[2015-07-07 15:20] aaschmid commented on #47
The bug described above is now fixed with commit 4c7f43f. Can you please describe your use case such that I can decide if it is worth to fix the filtering of tests for formats like ```%p[0]```?

[2015-07-07 15:33] #44 closed

[2015-07-14 19:30] #47 closed

[2015-07-14 19:31] aaschmid opened #48 "Filtering does only work if test description starts with test method name"
This is a follow up issue to #47.

The bug described above is now fixed with commit 4c7f43f. Can you please describe your use case such that I can decide if it is worth to fix the filtering of tests for formats like %p[0]?

[2015-07-14 21:07] aaschmid commented on #47
@spaceCamel: please refer to #48 for additional discussions. The release [1.10.0](https://github.com/TNG/junit-dataprovider/releases/tag/v1.10.0) solves at least the problem of filtering for tests which start with test method name!

[2015-07-15 08:53] spaceCamel commented on #48
Hi @aaschmid,
I'm testing a class used to calculate components of a price (net, tax, commission, etc.) from other parameters. The format I use contains the "given" and "expected" values and an additional UUID used to identify the test-case (auto-generated test-case index does not match the CSV file line number I'm using as input, so I added a UUID to avoid confusion).
In short my use-case is to sh

[2015-07-15 09:31] aaschmid commented on #48
Hi @spaceCamel,
thanks for your replay. This scenario should work perfectly using version [1.10.0](https://github.com/TNG/junit-dataprovider/releases/tag/v1.10.0) as your test names start with ```%m``` (= test method name). Unfortunately, IntelliJ IDEA does not support that format for running a single test with specific arguments. Eclipse instead does support this!
So, can you confirm that this is

[2015-07-16 16:29] spaceCamel commented on #48
@aaschmid it works! Thanks!
Regarding something to implement... I have an idea.
It would be nice if `junit-dataprovider` could auto-generate "parameter_name=value" pairs using reflection.
As you see I put in my format string "... net_premium=%p[0], commission_rate=%p[1], ..." and so on. Each is just repeating parameter-name and parameter-index of the test-method, and I had to maintain it updated w

[2015-07-16 18:16] aaschmid commented on #48
Hi @spaceCamel,
this is a very nice idea which you can easily try yourself using a custom placeholder, see https://github.com/TNG/junit-dataprovider/wiki/Features#customize-test-method-name. This should easily work extending ```com.tngtech.java.junit.dataprovider.internal.placeholder.ParameterPlaceholder``` and use the provided context ```method``` and its parameters, e.g. ```method.getParameters(

[2015-08-06 20:21] metasonic opened #49 "Running a test suite causes all @BeforeClass instances to be run"
I have the following setup, where I group a series of classes based on the area they target.
The problem is that with version 1.9.2 and above this setup is no longer working correctly, instead of taking each class at a time, and running everything in it (@BeforeClass, , @Test, @Test,, @AfterClass) the setul will run all the @BeforeClass methods from **all the test classes** before going back to ru

[2015-08-08 06:47] janschaefer commented on #49
could you provide a minimal example that reproduces the error?

[2015-08-09 20:26] metasonic commented on #49
It looks like the issue is caused by @RunWith(DataProviderRunner.class)
Please see attached example https://www.dropbox.com/s/u7hd586vot7l2qz/example.rar?dl=0

[2015-08-10 16:32] aaschmid commented on #49
Hi @metasonic,

hm ... I am aware of the behavior that ```@BeforeClass``` are executed before every test dataprovider. This is because in v1.9.2 I introduced that ```@BeforeClass``` runs before the dataproviders such that any results of an ```@BeforeClass``` can be used to generate the dataproviders.

But you write about a an error if you *don't have a ```@BeforeClass```. What do you mean but that

[2015-08-10 16:56] metasonic commented on #49
Here is a link with an example related to the error https://www.dropbox.com/s/xn2wihqzno4kw60/eampleError.rar?dl=0

We are doing selenium related tests, and use the **@BeforeClass**  to open a browser, in this case the fact that all **@BeforeClass** are run at the start is an issue.  It would be great if there is any way we could avoid this and keep the old flow.

[2015-08-10 21:15] aaschmid commented on #49
I am very sorry, but I get no error running ```AllTests``` and running ```SuperTests``` causes an ```NoTestsRemainException``` with and without an ```@RunWith(DataProviderRunner.class)``` annotation.

However, the problem with ```@BeforeClass``` is serious and I am thinking about fixing it by getting back to the behavior before v1.9.2. I am just a bit uncertain because this breaks backwards compat

[2015-08-10 21:16] aaschmid opened #50 "Provide a OSGi compatible MANIFEST.MF"

[2015-08-10 21:45] metasonic commented on #49
It's not an urget issue but it's a blocker for what can be considered further updates,  features,  improvements.
The issue in that example is that (hope i'm not mistaking)  with the older version running *Super Tests* won't cause any error.
At the moment it appears to run the @BeforeClass from a test that is no longer contained in the Test Suit.  Will try to provide a better example.

[2015-08-11 13:38] #50 closed

[2015-08-12 05:40] metasonic commented on #49
It's not an urget issue but it's a blocker for what can be considered further updates,  features,  improvements.
The issue in that example is that (hope i'm not mistaking)  with the older version running *Super Tests* won't cause any error.
At the moment it appears to run the @BeforeClass from a test that is no longer contained in the Test Suit.  Will try to provide a better example.

[2015-08-12 10:43] Sanderson-Imbeah opened #51 "Running test from the command line using maven mvn compile test"
I have notice that i seem to be getting an error:

INFO] Changes detected - recompiling the module!
WARNING] File encoding has not been set, using platform encoding Cp1252, i.e. b
ild is platform dependent!
INFO] Compiling 3 source files to C:\Users\921495\IdeaProjects\HMW POC\target\c
asses
INFO] -------------------------------------------------------------
ERROR] COMPILATION ERROR :
INFO] ------

[2015-08-12 10:54] aaschmid commented on #51
Hi @Sanderson-Imbeah,
I don't know exactly what you are doing but it seems that your compile job searches at the wrong package for any dataprovider classes. You search in

```src/main/java/com/dataprovider/DataProviders.java``` for a package ```com.tngtech.java.junit.dataprovider``` which is usually located in ```src/main/java/com/tngtech/java/junit/dataprovider/DataProviders.java```.

Btw, to avo

[2015-08-12 11:08] Sanderson-Imbeah commented on #51
Hi @aaschmid

I have place the pom code for dataprovider into my pom.xml and in my project structure i have created a dataprovider class which is located in C:\Users\921495\IdeaProjects\HMW POC\src\main\java\com\dataprovider\DataProviders.java the test is located in C:\Users\921495\IdeaProjects\HMW POC\src\test\java\com\selenium\test\ManipluationTest.java when i run the test from cmd using mvn cle

[2015-08-12 12:22] aaschmid commented on #51
Ah ok, can you provide me the pom.xml?

[2015-08-12 12:26] Sanderson-Imbeah commented on #51
Hi @aaschmid

Please see below

<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>org.halo.hmw</groupId>
    <artifactId>my-project-ha

[2015-08-12 12:30] Sanderson-Imbeah commented on #51
@aaschmid If i run the test from with the IDE no problem from maven cmd then the error occurs?

[2015-08-12 13:18] Sanderson-Imbeah commented on #51
@aaschmid it seems to be a MojoFailureException which on the Maven site says the following:
Unlike many other errors, this exception is not generated by the Maven core itself but by a plugin. As a rule of thumb, plugins use this error to signal a failure of the build because there is something wrong with the dependencies or sources of a project, e.g. a compilation or a test failure.
The concrete m

[2015-08-12 18:30] aaschmid commented on #51
Hi @Sanderson-Imbeah, I will hopefully have time to have a closer look until the end of the week. Hopefully the issue is not too urgent, otherwise give me a hint!

[2015-08-13 08:20] Sanderson-Imbeah commented on #51
Hi @aaschmid Thanks it is  urgent as when we run our tests in parallel it does not work using the cmd line. Even when we IDE the test wont run in parallel as junit needs to be run from cmd in order for the pom that controls the parallel dependency to work. Thank you in advance for all your support so far hopefully you can get to the bottom of this

[2015-08-13 16:45] aaschmid commented on #51
Hi @Sanderson-Imbeah,
just using the provided ```pom.xml``` above and putting same junit-dataprovider test in there works fine. I assume because of not using Selenium. As I have never used selenium before, is is possible, that you write a simple example test combining selenium and junit-dataprovider to simply call some public webpage and check for different labels, links or buttons on it?
That wou

[2015-08-14 13:10] Sanderson-Imbeah commented on #51
Hi @aaschmid

Thanks for getting back to me please see the below the following code. Bare in mind I am calling the dataprovider class from separate  class:

package com.dataprovider;

import com.tngtech.java.junit.dataprovider.DataProvider;

/**
 *
 */
public class Data {

    @DataProvider
    public static Object [][] validData(  ) {

        return new Object [] [] {

                {"My name

[2015-08-14 13:11] Sanderson-Imbeah commented on #51
@aaschmid I am also using intelliJ as the IDE.

[2015-08-17 12:04] Sanderson-Imbeah commented on #51
@aaschmid Hi hope all is well have you managed to reproduce the error ?

Kind Regards

[2015-08-17 18:16] aaschmid commented on #51
Hi @Sanderson-Imbeah, unfortunately your little reproducer is working on my machine (Archlinux) using the reproducer in https://github.com/aaschmid/junit-dataprovider-and-selenium.

I am not sure, though, if they really run in parallel. Is running selenium tests in parallel not a bit dangerous as multiple browser instances has to be used concurrently? But that's another issue.
https://github.com/a

[2015-08-18 11:58] Sanderson-Imbeah commented on #51
@aaschmid Hi thanks for getting back to that in your pom file you the following

 <dependency>
            <groupId>xml-apis</groupId>
            <artifactId>xml-apis</artifactId>
            <version>1.4.01</version>
        </dependency>

I didnt have this in my pom file when conducting the test (not sure if this will make a change)

Ok i will have another look at it and let you know of the out

[2015-08-18 12:00] aaschmid commented on #51
I got some ```NoClassDefFoundException```s while not having ```xml-apis``` as dependency.

[2015-08-26 12:47] Sanderson-Imbeah commented on #51
@aaschmid I have notice that from the command line if enter mvn clean test then it fails while if i just use mvn compile test its fine?

[2015-08-26 17:37] aaschmid commented on #51
Therefore it seems to be a problem with the ```clean``` task as ```compile``` will also be executed if you just use ```mvn test```. That's strange, though! Can you answer the following questions?

* What is the exception using ```mvn clean test```?
* Is it working if you do two separate commands for ```mvn clean``` and ```mvn test```?
* What is if you execute ```mvn clean package``` or ```mvn clea

[2015-08-27 11:29] Sanderson-Imbeah commented on #51
@aaschmid on the mvn clean test i get the following errors:

[ERROR] /C:/Users/921495/IdeaProjects/HMW POC/src/main/java/com/dataprovider/Dat
a.java:[3,43] package com.tngtech.java.junit.dataprovider does not exist
[ERROR] /C:/Users/921495/IdeaProjects/HMW POC/src/main/java/com/dataprovider/Dat
a.java:[12,6] cannot find symbol
  symbol:   class DataProvider
  location: class com.dataprovider.Data

[2015-08-27 11:29] Sanderson-Imbeah commented on #51
on mvn clean the build is successfully however i get the same error once i use mvn test

[2015-08-27 11:30] Sanderson-Imbeah commented on #51
mvn clean package also gives compilation errors

[2015-08-27 11:31] Sanderson-Imbeah commented on #51
weird thing is if i run the test direct from the ide then i do mvn test from the command no more error

[2015-08-27 17:07] aaschmid commented on #51
The problem must be with the building of your project as ```mvn clean``` deletes your ```target/``` folder and the IDE as well as the above mentioned command line ```mvn``` commands besides ```clear``` will compile your ```*.java``` files and refill your ```target/``` dir.
Even if I think that this problem is caused by the junit-dataprovider, can you update the above provided reproducer such that

[2015-08-28 11:46] Sanderson-Imbeah commented on #51
@aaschmid  i have placed the pom that i am using as of now i really do think the problem is with junit provider

[2015-08-28 11:48] Sanderson-Imbeah commented on #51
INFO] Copying 3 resources
INFO]
INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ my-project-halo
---
INFO] Changes detected - recompiling the module!
WARNING] File encoding has not been set, using platform encoding Cp1252, i.e. b
ild is platform dependent!
INFO] Compiling 3 source files to C:\Users\921495\IdeaProjects\HMW POC\target\c
asses
INFO] ------------------------------------

[2015-08-28 11:48] Sanderson-Imbeah commented on #51
Why when i clean from the ide it works fine ?? also the which os are you using ide etc etc

[2015-08-30 20:23] aaschmid commented on #51
Wait, wait, wait. With the above pasted ```pom.xml``` and your now pasted complete ```mvn``` log output, the problem is most likely the scoping of the junit-dataprovider dependency. You have a compile error which says that the junit-dataprovider packages cannot be found. And this is correct because your ```pom.xml``` scopes your junit-dataprovider dependency to ```<scope>test</scope>```. Does that

[2015-08-30 20:31] aaschmid commented on #48
@spaceCamel, any updates on this or any further help needed?

[2015-08-31 08:26] nikowitt opened #52 "Possibility to extend/customise StringConverter"
Hi there,
a small question/improvement suggestion: it should be possible to override com.tngtech.java.junit.dataprovider.internal.convert.StringConverter, to be more precise the private Object convertValue(String str, Class<?> targetType) method. The background is to be able to support more parameter types in the @DataProvider annotation, e.g. Date and DateTime or any other types that don't have a

[2015-08-31 10:18] aaschmid commented on #52
Hi @nikowitt, yes this should be possible. I will have a deeper look at it soon. Thanks for your request!

[2015-08-31 17:34] aaschmid commented on #52
Ok, this request is truely no problem to fulfill. The question, however, is what do you want to add? Maybe this would be a good feature to be supported directly?

[2015-08-31 20:01] nikowitt commented on #52
Please check my pull request (https://github.com/TNG/junit-dataprovider/pull/53) for an idea that meets my requirements. In this additional method, I can provide additional string to object routines. The only idea for a feature that could be supported directly is to maybe add the support for Date/Date where a fixed date pattern could be used.

[2015-08-31 20:43] aaschmid commented on #52
Nice, thanks for the pull request. I think, I have got your point and I really like it. Unfortunately, I am not satisfied with the solution as I think it is not easy usable by the "end user". Even if the constructor of ```DataConverter``` allows an argument, the junit-dataprovider does not use it by default. Therefore, it requires to override more classes.
I would rather like some kind of listener

[2015-08-31 22:52] Sanderson-Imbeah commented on #51
Let me try and change the scope of my Pom.xml and see if that fixes the issue.

I did run the reproducer but got an error lol let me try this and get back to you.

[2015-09-01 03:47] nikowitt commented on #52
It depends :)

In general, some additional listener is a nice idea, so of course this is a valid point. But I have to disagree regarding the simplicity of usage of my pull request because it depends on the environment that is used.

We are using Spring in our environment so we need already to override the Runner as described by you in https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks

[2015-09-01 07:55] nikowitt commented on #52
A type that could be implemented by default is
[code]

[2015-09-01 20:08] aaschmid commented on #52
I like your idea about Class support for the String dataprovider that I have just implemented it (and mentioned you in the commit message :-) )

How urgent is the rest or would it be OK to think some more days about it? I get your point that you already have to override and extends some classes but this is hopefully not the normal case ... I have to think about it, though.

[2015-09-02 04:00] nikowitt commented on #52
It is not urgent for me - I've already checked out the latest tag and patched the code with my pull request so I can use the extension ability in our environment, but of course I'd be happier when I can use the official release again :)
You are right, this is not the normal case. I currently extend the StringConverter to be able to use JodaTime's DateTime objects which IMHO cannot be supported reg

[2015-09-02 18:01] aaschmid commented on #52
Hehe, thanks for your feedback and your I am looking forward to more feature requests. I kind of link the idea of support for ```Date```, though I would like to also think about it a night or more ;-)
And yes, joda-time (even if I really like the library very much) is a third-party library and I would like to avoid such dependencies (even if I almost always use it ;-)).

[2015-09-02 18:10] aaschmid commented on #49
Is there any update according to an exmample @metasonic ?

[2015-09-09 04:05] nikowitt opened #54 "Reduce verbosity in @UseDataProvider/@DataProvider"
Hi there,
from what I see, when I want to use @DataProvider and @UseDataProvider, I
have to define a value in @UseDataProvider that refers to the name to a static @DataProvider annotated method.

I think this is a good spot where convention over configuration could be optionally used, e.g. supplying a blank default value in @UseDataProvider's value and then to check if there is a @DataProvider met

[2015-09-09 08:13] nikowitt opened #55 "Provide constants for @DataProvider splitBy default value and "null" string"
Hi there,

in order to be able to use constants consistently,the "," used by default in @DataProvider's splitBy and the "null" string that is used in conversion should be provided as a constant somewhere.

Best regards,
Niko

[2015-09-09 18:49] aaschmid commented on #54
This would indead be a good place to use convention over configuration. Can we maybe get this into version 2.0. For 2.0 I would also like to change the packages and maybe also the artifact name such that we have some kind of breaking changes there. (Still have to clarify that internally ...) But this would than also be a good point to use convention over configuration at some more points! And also

[2015-09-09 18:50] aaschmid commented on #55
As this are already the defaults, where would you like to use it?

[2015-09-10 03:58] nikowitt commented on #55
I'd like to use this constant in the @DataProvider values. Currently, I have to define an own constant value - we are not using plain strings value like
[code]
but
[code]
 where _ = ",", but this of course has to be placed somewhere else, although this belongs to @DataProvider itself from a logical point of view.

This of course is a really tiny suggestion, but I'd like to share every feedback tha

[2015-09-10 04:00] nikowitt commented on #54
This sounds very nice. Of course, now I'm curious whethere there is some roadmap about the release of 2.0 (1 week? 1 month? 6 months?) ;)

[2015-09-10 06:13] aaschmid commented on #55
Ok, but this would made the code much less readable I guess. I can provide of course a constant. Let a be an ```_```, though, would not make the code very clear IMHO. And let it be something like ```COMMA``` would generate much more required typing effort ...

The only case where I would see a benefit is to use it because of generating something.

[2015-09-10 06:15] aaschmid commented on #54
If you further questioning the features and code like you do (don't get me wrong I really appreciate it), I would say one or two month, even if I am not able to spend so many time on this open source project right now ...

[2015-09-10 13:12] nikowitt commented on #55
I must confess that in some cases, the readability can suffer when using the constant, but in some cases (especially when several parameters are used that requires to split the string across a new line or when constant values are used anyways), it also can help to improve the readability.

[2015-09-10 13:35] nikowitt commented on #54
It's perfectly fine, I don't expect any of my improvement suggestions to be implemented - I just want to share the feedback and if you decide that (some of) it is not worth implementing it it's also fine for me as long as the attention has been raised.

[2015-09-24 07:19] Sanderson-Imbeah commented on #51
It seems to be work fine now after I rebuilt the project.

[2015-09-24 12:00] aaschmid commented on #51
Great!

[2015-09-24 12:00] #51 closed

[2015-09-25 07:31] aaschmid commented on #54
Another idea here is to be able to choose the dataprovider using code completion. The only possibility I can think of would be using an annotation preprocessor which generates some constants. This is another "dependency" and IntelliJ could cause problems with this because it does not acutally compile code for every change, as Eclipse does. Maybe we can integrate that as an optional possibility, th

[2015-09-30 11:20] aaschmid opened #56 "use gradle OSGi plugin to create manifest"

[2015-10-01 13:52] aburmeis commented on #54
As the data provider ant tests methods always have different signatures (test method with parameters and data provider without) it would be a easy to use the same name by convention.

[2015-10-01 21:11] aaschmid commented on #54
@nikowitt : I really like your ideas but currently there is absolutely no time left which I can invest into a major refactoring and release of the dataprovider. Sorry, so you have to wait until we will find anybody implementing it or until I get more time.

@aburmeis you are absolutely right and I really like the convention over configuration approach :-)

[2015-10-02 03:41] nikowitt commented on #54
No problem, the changes I made in my fork that I published as pull request are currently sufficient.

Arne's idea is really nice - I will check the code today and see if I can implement this as this will also streamline our test code. If it works, I will also provide a pull request.

[2015-10-02 09:19] nikowitt commented on #54
I've committed the changes, but I seem to have messed up the formatting, so I don't create a pull request here. Please check the second commit.

For my requirement, I only had to set a default blank value in @UseDataProvider and to adapt getDataProviderMethod(FrameworkMethod testMethod) in the DataProviderRunner.

[code]

Best regards.
Niko

[2015-10-06 14:55] spaceCamel commented on #48
Hi @aaschmid,
I haven't got a change to work on the auto-generation of method description.
On the other hand I did no run into any issue after upgrading to 1.10.
I'll let you know if anything changes.
Thanks!

[2015-10-08 09:15] RiccardoBoettcher opened #57 "Better JUnit-DataProvider support for IntelliJ Idea"
_Problem_
IntelliJ Idea is not able to run/debug individual (instances) of parametrized test methods, nor is it possible to directly jump to the definition of the test method by clicking in the JUnit window.

_Analysis_
This is a problem of Idea as the internal implementation is tightly bound the the default parametrized test runner of JUnit.

_Proposal_
May be there is a way to define an API / in

[2015-10-09 07:47] nikowitt opened #58 "Ignore case for enum strings"
Hi there,
currently, enum values to be converted from strings require uppercase strings. This could be done automatically in the code without throwing any exception:
[code]
Best regards,
Niko

[2015-10-09 09:23] nikowitt opened #59 "Buggy Eclipse behaviour when object's toString() implementation contains a new line and is used in @DataProvider"
Hi there,

I'm currently using @DataProvider with $$, $ more frequently. When the toString() in an object that is used in the data provider contains (more than some) new line(s) (\n) and is executed via JUNIT 4 in Eclipse, the following behaviour can be observed:

- when a test fails with a specific dataset, I cannot explicitely call that dataset again, Eclipse tells me that the "input type of the

[2015-10-09 13:59] metasonic commented on #49
hey, sorry for the high delay, i no longer have access to that code, will try to replicate it but don't know if i will be able to do so.

[2015-10-10 00:38] aaschmid commented on #59
Hm ... we have already got that issue with #42 and I thought it is resolved ...

[2015-10-10 05:55] nikowitt commented on #59
The main difference is that I don't get an Eclipse exception, everything is fine according to the console.

Am 10. Oktober 2015 02:38:40 MESZ, schrieb Andreas Schmid <notifications@github.com>:

[2015-10-10 06:03] nikowitt commented on #59
Also interesting, as far as I remember this only happens when a specific number of new lines in a toString is exceeded. It worked in a test case when I removed some \n, but not all. If it helps I can try to narrow that down next week.

[2015-10-13 20:32] aaschmid commented on #59
Would be nice to get more information but don't hurry as I have currently no time to fix it ... :-(

[2015-10-15 08:08] moritzp opened #60 "Ignoring single datapoints"
We like to write tests like integration tests and such upfront and usually they're even on separate tasks. So if someone grabs that task he now usually "ignores" the new datapoint by commenting it and adding a TODO or something like that. It'd be nice if the junit-dataprovider would offer something like @Ignore for single datapoints.

[2015-10-15 10:10] janschaefer commented on #60
You can do that by using the `Assume` class from JUnit and call `Assume.false` for the cases you want to ignore

[2015-10-21 06:09] nikowitt commented on #59
This is how I can easily reproduce this.
[code]
Test works in this config, when I change
[code]
to
[code]

the test does not stop.

[2015-10-21 11:40] nikowitt opened #61 "@DataProvider's splitBy should be only invoked when it is required"
Currently @DataProvider's splitBy explode is always performed, even though I don't need it since I only have got one parameter (containing a html string that contains the default splitBy character) in the test class. It is easy to workaround by supplying another splitBy value, but it increases verbosity.

So the explode should only be applied when the number of test method parameters is greater th

[2015-10-21 15:50] aaschmid commented on #61
It makes the code more confusing, though ;-)

[2015-10-21 15:52] aaschmid commented on #58
I am not sure if I want to do this by default as "ENUM_VALUE" is then treated equally to "enum_value" which are actually two different enum values ...

[2015-10-21 15:55] aaschmid commented on #48
I consider that as "done". Please reopen if you have any further issues on that.

[2015-10-21 15:55] #48 closed

[2015-10-21 16:01] aaschmid commented on #57
Hi @RiccardoInTheSun, thanks for your bug report. I already tried a lot of improvements within junt-datarprovider to get it working smoothly with IntelliJ IDEA. It seems that this hasn't helped so far but I will have a closer look again.

[2015-10-21 16:07] aaschmid commented on #60
To be honest I currently have no good idea how to get this done smoothly besides using the already mentioned ```Assume```s.

@moritzp Besides the above I could image to create a special "column" with a ```boolean``` or constant ```enum``` saying ```IGNORE``` or ```RUN```. This column has to be mentioned with the ```@DataProvider``` annotation as a number which column it would be. The column itself

[2015-10-22 03:47] nikowitt commented on #58
I think about 99,5% of all enums are written uppercased and the equal treatment only applies to enums that both have got a lowercased and an upper cased value with the same name. Maybe then it makes sense to perform the upper case check as a fall back when the first case sensitive check does not work.

[2015-10-22 03:48] nikowitt commented on #61
A user does not care about that ;)

[2015-10-22 21:38] aaschmid commented on #58
Hm .. . but if you say that 99.5% of all enums are written uppercased, what is the business case for ignoring the case while converting. I think that this is rather confusing ...

[2015-10-23 03:27] nikowitt commented on #58
The business case is that in many cases (at least in our environment), there exist other constants that correspond an enum value, but in small letters (since they are given in camel case). In the tests, when I use the plain dataprovider, I want to use the already existing constant values.

[2015-10-23 14:05] #59 closed

[2015-10-23 21:41] #55 closed

[2015-10-23 22:12] aaschmid commented on #61
Hm ... now as I implemented the fix I am rather not sure if this is good due to consistency issues. I see your point above but is it really consistent behavior or not really obvious that code is *not* splitted by the splitter just because you just require a single argument and it is splitted in every other case?

[2015-10-24 05:51] janschaefer commented on #61
I think this is fine. If you only have one argument, you do not expect that the string is splitted.

[2015-10-25 10:33] #61 closed

[2015-10-26 04:08] nikowitt commented on #58
Keeping your comment in mind, my current change now looks like

[code]
This preserves the ability of even having mixed mode enums with e.g. an enum "VALUE" and "value".

[2015-10-28 08:34] CrystalMethod opened #62 "[Eclipse] DataProvider using custom types"
Are there any known limitations when using the data provider regarding custom types in conjunction with Eclipse? (other then int, boolean, String..) We have a lot of unit tests passing custom types (business objects like User, Offer - that are often very complex) to the test methods. All tests pass (of course only if there is no error) but the Eclipse JUnit plugin is still running. The Infinitest

[2015-10-28 08:54] nikowitt commented on #62
Maybe this is the cause?
https://github.com/TNG/junit-dataprovider/issues/59

[2015-10-28 21:52] aaschmid commented on #62
Hi @CrystalMethod,
I just know about the bug mentioned by @nikowitt above. If this is not the case, can you try provide a custom placeholder according to https://github.com/TNG/junit-dataprovider/wiki/Features#customize-test-method-name by maybe skipping the complex business object ```toString()``` representations and try it again?
Cheers,
Andreas

[2015-11-02 17:32] CrystalMethod commented on #62
Ok, using ``@DataProvider(format="...")`` really helps. So we can close this issue here. We will try to rework the "problematic" dataproviders in a way to use simple types or customize the formatting of complex business objects.

[2015-11-02 17:32] #62 closed

[2015-11-02 17:44] aaschmid commented on #62
HI @CrystalMethod, thanks for clarification and updating this issue. Feel free to open a new one if you have more information or general suggestions for solving your problem :-)

[2015-11-02 17:47] aaschmid commented on #58
Hi @nikowitt, I am still not convinced because IMHO this is too much magic. @janschaefer what do you think?
I could image having some option in ```@DataProvider``` which ignores case for enums, classes and other senseful types. What do you think?

Cheers,
Andreas

[2015-11-02 19:48] nikowitt commented on #58
An ignoreCase param indeed would increase transparency, I like this idea pretty much.

[2015-11-09 07:09] nikowitt opened #63 "Combination of string based @DataProvider and @UseDataProvider"
Hi there,

in our security tests, there are several methods that look like this:
[code]

As string arrays are not supported in annotations, it would be great if there would be the possibility to extract string based dataproviders into a separate method. Otherwise, a custom string processing is required.

Regards,
Niko

[2015-11-09 08:00] aaschmid commented on #63
Hi @nikowitt, I am sorry but do not get what you mean... ```String[]``` are for sure allowed in annotations. That is actually what the ```@DataProvider``` uses.
If possible due to data security reasons, maybe you could provide a more comprehensive example of how you would like to have your test look like.

[2015-11-09 08:08] nikowitt commented on #63
String[] are allowed, but a string constant isn't, I cannot provide a public static final String[] CONSTANT in an annotation, I have to assemble the array manually with multiple strings as stated above.

The constant "ENABLED_QUOTATION_AND_STARTED_ENDED_PUBLISHED_RFQ" e.g. consists of "true, true, false, false". I could use the @DataProvider/@UseDataProvider here, but since I want to use the alrea

[2015-11-09 15:37] aaschmid commented on #63
Hm ... I see your problem now. I just don't see benefits according to use a single constant for every argument. This would even be much better readable with a ```// @formatter:off``` block:

[code]
But maybe I don't see the whole picture ...

[2015-11-10 04:41] nikowitt commented on #63
The reason why these constants are implemented that whay is that they are reused as the substring of another argument in other tests using a string based @DataProvider and the usage of other @DataProvider/@UseDataProviders woul increase verbosity. The tests are pretty complex :)

[2015-11-10 06:05] seanf opened #64 "Before/AfterClass invoked at wrong time for abstract classes in suites"
The invocation order with JUnit's standard runner:

	BeforeClass: AbstractTest
	BeforeClass: PlainTestA
	Running:     PlainTestA.test1
	Running:     PlainTestA.test2
	AfterClass:  PlainTestA
	AfterClass:  AbstractTest
	BeforeClass: AbstractTest
	BeforeClass: PlainTestB
	Running:     PlainTestB.test1
	Running:     PlainTestB.test2
	AfterClass:  PlainTestB
	AfterClass:  AbstractTest

Whereas with Da

[2015-11-10 06:36] seanf commented on #64
Demonstration project: https://gist.github.com/seanf/8c2fe3d7e6507befd6bb

[2015-11-10 09:40] aaschmid commented on #63
I would suggest having a helper method like ```$``` which actually does the conversion. But maybe it makes sense to always use ```@UseDataProvider``` with that use case and reuse the dataprovider itself?

[2015-11-10 09:44] nikowitt commented on #63
Basically this would work, but due to the fact that other tests use the constants as a substring in other params require me to code logic the StringConverter is capable of doing.

Another idea would be to be able to extend @DataProvider annotated method that they can not only use Object[][] as return type, but also String[]. This would be the indicator that string processing/splitting needs to be

[2015-11-10 09:45] nikowitt commented on #63
Basically something like
[code]

[2015-11-10 09:50] aaschmid commented on #64
Hi @seanf, I totally agree and the behavior is currently expected. I just haven't thought about the ```AbstractClass``` initialisations, though.

The actual problem is that you could either have the described some time incorrect behavior above or ```@BeforeClass``` will not work at all using junit-dataprovider because of the very strange, inflexible and IMHO broken implementation of JUnit.
I can e

[2015-11-10 10:09] aaschmid commented on #63
Great idea, I just thought about that as well while implementing the ```String``` dataproviders and it should acutally work :-)

Example:

[code]

It's just an undocumented feature but as internally the same logic is used for both cases ...

[2015-11-10 10:18] nikowitt commented on #63
Oh great, I didn't expect this to work out of the box. Thanks for pointing this out, this should probably be officially documented :)

Just tested this, works like a charm!

[2015-11-10 10:18] #63 closed

[2015-11-10 11:29] aaschmid commented on #63
Oh, it is also already documented, see https://github.com/TNG/junit-dataprovider/wiki/Features#string-syntax :-)

[2015-11-10 11:34] nikowitt commented on #63
Brr... I've must have missed it somehow :(

[2015-11-10 11:52] aaschmid commented on #63
No worries, the discussion was still worth to remember the feature and find the solution (at least for me) :-)

[2015-11-10 13:16] seanf commented on #64
Would it perhaps be possible to invoke the BeforeClass for AbstractClass
only once per suite, and the AfterClass only once? I'm still a little
unclear on how the different classes, which are *separately *annotated
RunWith(DataProviderRunner.class) can be overlapping.  I suppose that's
part of the brokenness of JUnit suites?

I notice that even with the default runner, AbstractClass's static method

[2015-11-10 16:11] janschaefer commented on #63
Indeed!

[2015-11-10 21:11] aaschmid commented on #64
Nice idea, this would require some static remember function but possible.

Hm ... good to know so this is the default behavior and junit-dataprovider is just different in the order because all the dataproviders has to be evaluated at the startup to determine the amount of test methods to be executed ...

Let's see if I get it all together. The ```BlockJUnit4Runner``` internally wraps together a li

[2015-11-11 21:38] aaschmid commented on #64
After looking deeper into JUnit internals, the dilemma unfortunately stays the same even if we implement the ```DataProviderRunner``` completely independent from ```BlockJUnit4Runner```. Because we first have to determine the test cases which depends on the execution result of ```@UseDataProvider``` which might depend on ```@BeforeClass``` methods. And as JUnit first requires *all* the test ```Des

[2015-11-13 05:37] seanf commented on #64
Thanks, I think I got some of that! Basically, junit-lambda seems to be our
only hope! JUnit is really due for an overhaul.

It's not really urgent for me, more of a nuisance. It means I can't run
"all unit tests" in the IDE (IntelliJ apparently creates a suite when using
patterns), but apparently maven-surefire doesn't create a suite, because
the DataProvider tests seem to be working in Maven.

I

[2015-11-15 12:30] aaschmid commented on #64
Ok, good to know.

At least I understand it like that, yes! IMHO if you look at JUnit Theories they have the same problem there. And that could be the reason for just showing a single test method / result for every test which contains multiple theories!!!
(Btw. one point why I don't like theories at all, it's not reproducible easily which one failed ...)

That is actually what I meant with "There

[2015-11-19 05:14] whypurplishblue opened #65 "Running junit-dataprovider with Maven unable to generate test results"
I run mvn clean test, everything builds fine, and the tests looks like they get executed from the logs. But at the end when maven generates the test results for the reports I get the following:

If I run the test *without* using junit-dataprovider I will get:

This is what I expected output. Is there any additional things I need to configure?

A snippet for my code as follows:
[code]

[2015-11-21 08:13] aaschmid commented on #65
Hi @whypurplishblue, I do not see anything wrong in your code snippet. Though, I cannot reproduce it because I do not know anything about ```BaseWebDriverTestClass```. As I could not found it via searching the internet, I assume it is something custom from your side, isn't it?

[2015-12-06 15:13] aaschmid commented on #65
@whypurplishblue any updates on this?

[2015-12-06 15:14] aaschmid commented on #64
What does other think about it?

[2015-12-06 17:00] aaschmid commented on #58
Implemented, see above. Just not sure how to name the property. Any better suggestions @nikowitt?

[2015-12-07 04:15] nikowitt commented on #58
Sounds fine to me.
Regards, NIko

[2015-12-07 17:25] #58 closed

[2015-12-08 06:43] janschaefer commented on #64
We had no problem so far with the BeforeClass methods. Changing the order of execution now might break existing test code.

[2015-12-13 10:18] PascalSchumacher opened #66 "NullPointerException when toString() of parameter returns null"
Hi,

thanks for providing junit-dataprovider.

While working on a pull request to switch assertj from JUnitParams to junit-dataprovider I encountered the this problem.

When I try to use null as a parameter, e.g.:

[code]

I get
[code]

Because  in this case TestDescription#toString returns null. Not sure if this is something that junit-dataprovider should handle?

[2015-12-13 16:06] aaschmid commented on #66
Hi @PascalSchumacher, the problem is really that ```TestDescription#toString()``` returns ```null``` as the junit-dataprovider ```ParameterPlaceholder``` line 93 to 99 are

[code]

I will fix it in a moment :-)
Thanks for reporting this!

[2015-12-13 16:29] #66 closed

[2015-12-13 16:31] aaschmid commented on #66
Is it somehow urgent? I can provide you a snapshot version to retest if you want. Otherwise I can create a new release hopefully before christmas. What would you prefer @PascalSchumacher?

[2015-12-13 16:39] aaschmid commented on #66
Btw. second commit suppresses findbugs warning because findbugs assumes that ```toString()``` does not return ```null``` :-S

[2015-12-13 18:05] PascalSchumacher commented on #66
Thanks for the ultra quick fix. :+1:

Yes, returning `null` from toString() is not a good practice.

Thanks for the offer, but it's not urgent so I'm fine with waiting.

[2016-01-08 19:27] DanielDressler commented on #64
I would suggest not to evaluate the BeforeClass methods at all for the computation of the test cases. We do have tests that expect to be run in the usual bracket of BeforeClass/AfterClass that fail if a DataProviderRunner is used and picks up multiple test classes and interleaves these brackets.

In addition, we've run into the problem that DataProviderRunner's handling of BeforeClass does not pla

[2016-01-09 18:55] drdamour opened #67 "Support List<Object> for 1 parameter tests"
It's great it supports multiple params...but it's generally overkill for my uses.  I generally have 1 param.  It'd be nice if i could support that simpler syntax such that a provider that returns List<Object> is checked against the test method to see if it has just 1 param, and in that case allow it through.

[2016-01-18 20:51] aaschmid commented on #67
Hi @drdamour, I think this is a valuable feature request. Let me think about it some day. I just want to avoid that it can confuse the user. But likely this will make it to the next version ;-)

[2016-02-18 19:02] aaschmid commented on #67
It makes the code a bit more ugly because lists content can only be determined at runtime but it works

[2016-02-18 19:04] #67 closed

[2016-02-18 19:16] aaschmid commented on #65
Will close the ticket until no more response by the reporter. Please don't hesitate to reopen as soon as you have new information to reproduce it! Thanks!

[2016-02-18 19:16] #65 closed

[2016-02-18 19:20] aaschmid commented on #60
As I have no further idea of solving this, I will close this issue. Please do not hesitate to reopen as soon as you have new information / new ideas or a solution which requires some adjustements to the junit-dataprovider.

[2016-02-19 10:58] aaschmid opened #70 "Ability to reference multiple data providers"
Would such a feature make sense? I would just allow explicitly given dataprovider names, no more convention?

[2016-02-19 11:43] aaschmid commented on #54
I know introduced the following convention:

     * ```@DataProvider``` annotated method with the explicitly given annotation value
     * ```@DataProvider``` annotated method which name equals the test method name
     * ```@DataProvider``` annotated method which prefix 'test' is replaced by 'dataProvider'

Is that find for you?

[2016-02-19 11:47] nikowitt commented on #54
Sounds great, so as soon a solution for #52 is found, I can switch back to the official releases :)

[2016-02-19 12:01] aaschmid commented on #54
Thanks for the fast comment, updated mine above a bit, though.

[2016-02-19 19:41] aaschmid commented on #60
Maybe we can implement some special treatment of an built-in enum, e.g. ```DataProviderAssumption``` which values ```TODO```, ```IGNORE```, ```RUN```, ```DONE``` or so ...

[2016-02-19 21:05] aaschmid commented on #52
Hi @nikowitt , can you see my suggestion, especially the integration test in dc048fb? Does that go into the right direction? Have you any other suggestions/preferences?

[2016-02-20 07:33] nikowitt commented on #52
The integration looks perfect, that is exactly what I need :)

[2016-03-01 17:37] aaschmid opened #73 "Tests fail if using \0 character in test data"
Exception:

[code]
Most like this is also a problem for other non-printable chars...

[2016-03-11 23:05] aburmeis opened #75 "Support for JUnit 5"
The new JUnit 5 will no longer be based on Runners but on Extensions. Should this become an incompatible new major version or will the support be added by turning JUnit 4 and 5 into optional dependencies?

[2016-03-11 23:05] aburmeis commented on #75
With the new DynamicTests ([issue 58](https://github.com/junit-team/junit5/issues/58)) it would be possible to create an extension handling annotated parametrized methods with `@DataProvider` or `@UseDataProvider` by replacing them by `DanamicTest` during runtime. For this I added a new [DynamicTestCreator](https://github.com/aburmeis/junit5/blob/issue58-dynamic-tests/junit5-api/src/main/java/org/

[2016-03-11 23:48] aaschmid commented on #75
Hi @aburmeis, I really like your initiative as I already thought about doing this myself for some weeks. I will try to get deeper into this as soon as possible. Let us discuss after a deeper look if this will be incompatible or not. I am with both making a 2.0 version :-)

[2016-03-16 20:35] #52 closed

[2016-03-16 21:34] #54 closed

[2016-03-16 21:35] #73 closed

[2016-04-07 19:25] PascalSchumacher opened #76 "Allow additional convention for @DataProvider method name"
I think https://github.com/TNG/junit-dataprovider/issues/54 is a great enhancement. :+1:

Sadly if you do not use test-names starting with "test" you can only use the "method with a name equals the test method name" option. I think it is a bit confusing to have two methods with the same name.

It would be great if "a method with a name equals to the test method name postfixed with dataProvider" op

[2016-04-07 19:36] aaschmid commented on #76
Hi @PascalSchumacher,
thanks for pointing this out as not every writes tests as I do :-)
(but MoreUnit works very nicely with test* to jump between method and its test methods, I always prefix with test* ;-) )

Anyhow, I am happy with adding one of the patterns. As I just work with prefixes for now, I would like to also implement the prefix version of your suggestion if you are fine with it.

[2016-04-07 19:50] PascalSchumacher commented on #76
Sure, I'm fine with the prefix version. Thanks in advance!

[2016-04-11 22:03] aaschmid commented on #76
see also documentation on https://github.com/TNG/junit-dataprovider/wiki/Features#dataprovider-method-name

[2016-04-11 22:03] #76 closed

[2016-04-11 22:11] #64 closed

[2016-04-11 22:11] #49 closed

[2016-04-12 05:32] PascalSchumacher commented on #76
Thanks, works great! :+1:

[2016-04-12 11:49] PascalSchumacher opened #77 "Can not use list as parameter?"
I would like to use a `List` as a parameter, e.g.:

[code]

but this results in

[code]

I'm I doing something wrong or is it not possible to use a `List` as a parameter? Are there any workarounds?

Thanks,
Pascal

[2016-04-12 12:17] PascalSchumacher commented on #77
It was my fault. I annotated the `test` method with `@DataProvider` instead of `@UseDataProvider`. :(

Sorry for the noise.

[2016-04-12 12:17] #77 closed

[2016-04-12 12:17] aaschmid commented on #77
Hi @PascalSchumacher, the problem is, that you use

[code]

must be

[code]

Hint: with version 1.10.4, you can also leave out the method name  ```("stringsData")```.

[2016-04-12 12:18] aaschmid commented on #77
Oh, you saw it yourself and no problem for the noise :-)

[2016-04-12 20:49] #56 closed

[2016-04-12 21:03] aaschmid commented on #70
Still no necessity for this feature?
@theone1984 wasn't you requesting this?

[2016-04-12 21:05] aaschmid commented on #60
@moritzp any opinions?

[2016-04-12 21:09] theone1984 commented on #70
I think we discussed a more generic approach to linking tests to dataproviders like an own resolver class or something like that. What we are doing is more like creating cross products with exceptions ... to reference more data providers would be a start, but a more dynamic way combined with a fallback to the current convention would be really great.

[2016-04-21 04:04] drdamour commented on #67
got around to using this..very nice...but it would be better if it was List<? extends Object> and not just List<Object>

[2016-04-21 18:54] aaschmid opened #78 "it would be better if it was List<? extends Object> and not just List"
see comment on #67

[2016-04-21 18:58] aaschmid commented on #78
Another possibility is to support raw ```List``` or ```List<?>``` or everything which is ```Iterable``` and check at runtime. This would at least shorten the code and make it more usefull. Also somebody could then use ```List<Collection<String>>``` if there would just be strings or ```List<CustomType>``` if ```CustomType``` extends ```Iterable```.
Or the corresponding alternative for a single argu

[2016-04-21 18:59] aaschmid commented on #67
Opened issue #78 to continue discussion and implement a solution ;-)

[2016-04-21 21:02] drdamour commented on #78
yes anything that is iterable would be great

[2016-05-04 09:47] sxilderik opened #79 "Since multiple @RunWith impossible, a static way to initialize the Runner is needed"
Hello

I'm using @RunWith(Arquillian.class) and I'd like to @DataProvide my tests there too.

Since there is no way to say @RunWith twice, how can I use @DataProvider in my Arquillian test class ?

Is there a way to statically initialize or do whatever mojo is needed to mimic the @RunWith(DataProviderRunner.class) ?

@Before
public void init() {
  DataProviderRunner.doTheMagic().
}

[2016-05-04 10:25] aaschmid commented on #79
Hi @sxilderik, in the moment I have no idea how this should work as JUnit is very inflexible at this point. But maybe you can do the same as we did with ```@DataProvider``` and some dependency injection frameworks. The documentation how this works can be found here:

https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks

Would be great if you could test that out and if you like also add a

[2016-05-30 09:26] dmaidaniuk opened #80 "Incorrect work with Maven test plugins"
When developer write unit test with usage `@UseDataProvider` and try to run it with [maven surefire plugin](http://maven.apache.org/surefire/maven-surefire-plugin/) or [maven failsafe plugin](http://maven.apache.org/surefire/maven-failsafe-plugin/) he will see next results:
[code]
However from console logs it looks like that tests are executed, but results were not properly collected. As an additi

[2016-05-30 10:37] aaschmid commented on #80
Hi @dmaidaniuk,

thanks for reporting this. Unfortunately, I am not able to reproduce it. This junit-dataprovider repository itself contains a ```pom.xml``` which executes tests. This is working fine even with just executing some categories etc. In the past there have already been problems executing junit-dataprovider tests using maven.

Can you provide a reproducer somehow or at least some code s

[2016-05-31 09:01] dmaidaniuk commented on #80
Hi @aaschmid ,
Sure, I will prepare small reproducer project and attach it to this issue in next couple days.

[2016-05-31 10:11] aaschmid commented on #80
sounds great, looking forward to it

[2016-06-06 14:31] dmaidaniuk commented on #80
Hi @aaschmid ,

During preparation of reproducer project it was discovered real source of problem. We mostly use TestNG for writing tests in our multi-module maven project. However for [Apache Camel tests](http://camel.apache.org/blueprint-testing.html) we used JUnit 4 because [TestNG not supported](https://issues.apache.org/jira/browse/CAMEL-6167). Maven test plugins automatically selects which t

[2016-06-06 14:31] #80 closed

[2016-06-06 20:57] aaschmid commented on #80
Thanks @dmaidaniuk for clarification and closing the issue :-)

[2016-07-14 03:31] shenxj1228 opened #81 "@Before is support?"
Hello :
junit-dataprovider  Support @Before?
how do it.

[2016-07-14 10:48] aaschmid commented on #81
Hi @shenxj1228,

here is an example with just using ```@Before``` as for every normal test case:

[code]

Does that answer your question?

[2016-07-28 14:58] Vivek-Malhotra commented on #79
Hi Everyone,
I encountered similar issue as mentioned in this thread. I am new to Spring and Junit and if anybody can suggest any pointer to resolve it would be great.

I have a JUNIT Test “MyTest” as below which uses @RunWith and SpringJUnit4ClassRunner as below:

@RunWith(SpringJUnit4ClassRunner.class)
@SpringApplicationConfiguration(TestConfiguration.class)
public class LarsStartCCTest extends

[2016-07-28 15:44] aaschmid commented on #79
Hi Vivek-Malhotra,

as already mentioned before, please see

https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks

where a detailed guide is provided for using JUnit dataprovider and Spring test runner. Unfortunately this requires some manual overriding of code. This is caused by JUnit as it is very inflexible according to extensions.

Does this help?

Cheers,
Andreas

P.S.: As JUnit Lam

[2016-07-29 08:30] Vivek-Malhotra commented on #79
Thanks @aaschmid for your reply. I looked at the solution. It looks like in my TestClass I can extend SpringJUnit4ClassRunner class as shown below.

import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
public class DataProviderRunnerWithSpring extends SpringJUnit4ClassRunner {
    /* ... */
}

However the issue is that my Test Class Already extends from some other class and henc

[2016-07-29 10:49] aaschmid commented on #79
Hi @Vivek-Malhotra,

you don't need to extend the test class but annotate it with ```@RunWith(DataProviderRunnerWithSpring.class)``` instead. Isn't this what you wanted?

Cheers,
Andreas

[2016-07-29 11:03] Vivek-Malhotra commented on #79
Thanks @aaschmid
That is really cool. I hope it works, but still one doubt. If you can help on this, it will get me going. Few of my questions might be silly but I am new to this Spring world and trying to learn new things.

As you mentioned, I have downloaded DataProviderRunner.java and tried to do the below workarounds which you have mentioned.  However in DataProviderRunner.java, I can't find a

[2016-07-29 11:25] Vivek-Malhotra commented on #79
Hello @aaschmid
I created one new class in my Code as below and then when tried to use it in test it throws below exceptions.

public class DataProviderRunnerWithSpring extends SpringJUnit4ClassRunner{
}

java.lang.Exception: No valid dataprovider found for test testMethod. By convention the dataprovider method name must either be equal to the test methods name, have a prefix of 'dataProvider' ins

[2016-07-29 11:28] Vivek-Malhotra commented on #79
Hello @aaschmid

When I run my JunitDataProvider class it runs fine and shows below output

2016-07-29 13:27:25.105  INFO   --- [           main] c.w.qa.lars.test.JunitDataProvider       : Setup a test
2016-07-29 13:27:25.111  INFO   --- [           main] c.w.qa.lars.test.JunitDataProvider       : Start test
2016-07-29 13:27:25.111  INFO   --- [           main] c.w.qa.lars.test.JunitDataProvider

[2016-07-29 11:41] Vivek-Malhotra commented on #79
Now after creating a DataProviderRunner and Creating a dataProvider in JunitDataProvider.java I am getting below error:

java.lang.IllegalStateException: Could not load TestContextBootstrapper [null]. Specify @BootstrapWith's 'value' attribute or make the default bootstrapper class available.

@RunWith(DataProviderRunnerWithSpring.class)
@SpringApplicationConfiguration(TestConfiguration.class)
pub

[2016-07-29 14:37] Vivek-Malhotra commented on #79
Hello @aaschmid
Tried to do everything from Scratch. My Tests were running fine. Then after following steps below error is coming:

1, Created a JunitDataProvider class with test data
2. Created DataProviderRunnerWithSpring class which extends SpringJUnit4ClassRunner
3. Did the workarounds you mentioned
4. Changed test class method as below

@Test
    @UseDataProvider(value = "testDataForLaxTest",

[2016-07-29 20:16] aaschmid commented on #79
Hi @Vivek-Malhotra,

sorry the tips and tricks page was outdated a bit as the adjustments where not necessary if you use v.1.10.4 or newer. I have updated the documentation and just added an example to the integration tests, see https://github.com/TNG/junit-dataprovider/tree/master/src/integTest/java/com/tngtech/test/java/junit/dataprovider/spring.

Does this help?

Cheers,
Andreas

P.S.: This doe

[2016-07-29 20:21] aaschmid commented on #79
Oh, haven't overseen your latest comment @Vivek-Malhotra. I guess you are correct, this is a problem in your POM i.e. it is caused by a dependency version conflict, e.g. some spring-boot version which does not match the corresponding spring-core library...
If you want me to help I require an reproducer or your POM ...

Cheers,
Andreas

[2016-07-29 20:22] aaschmid commented on #79
@sxilderik Are your problems solved using the tips and tricks page? Such that I can close this issue in the near future?

[2016-08-01 09:01] Vivek-Malhotra commented on #79
Thanks @aaschmid

I have used the new classes you added to rerun, but still getting below error after adding junit data provider. Before that my project just runs fine.

java.lang.IllegalStateException: Could not load TestContextBootstrapper [null]. Specify @BootstrapWith's 'value' attribute or make the default bootstrapper class available.

I have added poms for your reference both(before and aft

[2016-08-01 09:12] Vivek-Malhotra commented on #79
@aaschmid
One more difference between the test you wrote i.e. DataProviderSpringAcceptanceTest.java and my test is that I am using below two annonations:

@RunWith(DataProviderRunnerWithSpring.class)
@SpringApplicationConfiguration(TestConfiguration.class)

Wheras in  DataProviderSpringAcceptanceTest the annonations are as below

@RunWith(DataProviderRunnerWithSpring.class)
@ContextConfiguration(c

[2016-08-01 11:56] Vivek-Malhotra commented on #79
Thanks @aaschmid

It works for me now. There were some issues with POM which I managed to rectify and it worked now.

I can access test data from Data Provider in my Test class like below:

Just one last question: Can we use this Dataprovider during test setup in @Before ??

@RunWith(DataProviderRunnerWithSpring.class)
@SpringApplicationConfiguration(TestConfiguration.class)
public class LaxTest e

[2016-08-01 18:09] aaschmid commented on #79
Hi @Vivek-Malhotra,
you cannot use the DataProvider in the @Before. Can you tell me the use case as I am currently not seeing some because maybe this is a proper feature request? Maybe you can open a new ticket for it describing the use case to not cluttering this issue ...
Cheers,
Andreas

[2016-08-02 08:13] Vivek-Malhotra commented on #79
Thanks @aaschmid
You can close this thread as the solution you provided is working fine now after the tweaks. Pretty cool.

Regarding the use case in @Before I am not sure whether that is correct as I am pretty new to spring. What I though from my previous experience on other Test Frameworks, I used to do any prerequisites for a test in a setup script.

Similarly, there should be an option to use

[2016-08-02 16:42] aaschmid opened #82 "Add @BeforeDataProvider and @AfterDataProvider methods"
Taken from #79, asked by @Vivek-Malhotra:

[2016-08-02 16:43] aaschmid commented on #79
See #82 to follow up on this

[2016-08-02 16:51] aaschmid commented on #82
Hi @Vivek-Malhotra,

I think it is possible to implement if I understand you corrently. However, as I am now thinking more detailed about it, I have some doubt about the usefullness. I am currently not convinced what the benefits would be because it would cause some additional boiler plate code to add a second method for every test case annotated e.g. with ```@BeforeDataProvider("dataProviderName"

[2016-08-03 15:44] Vivek-Malhotra commented on #82
Hi @aaschmid
Agreed on your point. I can have my setup inside @Test where I can provide test data from Data Provider.

Why I thought it would be good to add Test Data in  @Before was in case I have several test methods in my class which needs same test data, I have to use this data provider in every test method (@Test). It would have been good if I provide Test Data in @Before and then all my test

[2016-08-03 18:57] aaschmid commented on #82
Hi @Vivek-Malhotra,
yes this is the correct use case to add the test data for every test case in ```@Before```. The ```@BeforeDataProvider("dataProviderName")``` was just a name suggestion for your idea. The more I think about it, I think it would be a good idea to try to create something like ```@BeforeDataProvider("dataProviderName")``` and ```@AfterDataProvider("dataProviderName")``` which is e

[2016-08-03 21:12] aaschmid commented on #82
I implemented already some part of it because I was curious about if this would work. And yes, it would work but due to the bad extensibility of JUnit it is a bit hacky ...

Anybody would like to have that feature?

[2016-08-04 08:08] Vivek-Malhotra commented on #82
Hi @aaschmid ,

This is really great that you already tried to make it work. That’s super fast I can say 

I am not sure how useful it would be to put these efforts against what we already have. Some of the use cases which I can think of (based on my lame experience with Junit) are as below:

Please let me know what you think:

**Use Case I: I have one DataProvider Class having One DataProvider f

[2016-08-04 10:03] Vivek-Malhotra commented on #79
Hi @aaschmid
One more query on the same thread i.e. regarding the Junit Data Provider. When I imported your code the following dependency is added to my Project:

<dependency>
            <groupId>com.tngtech.java</groupId>
            <artifactId>junit-dataprovider</artifactId>
            <version>1.11.0</version>
</dependency>

I already had dependency for Junit as below in my Project and it wa

[2016-08-04 20:05] aaschmid commented on #82
Hi @Vivek-Malhotra, I am sorry but I am not sure what that has to do with the ```@BeforeDataProvider``` and / or ```@AfterDataProvider``` ...

[2016-08-10 07:49] moritzp commented on #60
Sorry for coming back late!
I'm not a big fan of the assume solution, since we'd have to pass another argument to every method and check on it etc. Having a more generic way which is implemented within the library would be great. E.g. something like your idea of passing a well-defined enum value and wrapping each test method into a library method which encapsulates the enum treatment.

[2016-08-10 17:14] aaschmid commented on #60
Agreed to your first point, but for the other solution you also would need to have another column ...
Or do you something different in mind?

[2016-08-10 18:06] aaschmid commented on #60
Thinking more detailed about it, I am just struggling about a name for the enum ... I could also imagine to create a custom annotation with ```ElementType.LOCAL_VARIABLE``` which has to be put on a local variable within the dataprovider method. This can than be put as the first column / cell (maybe a stupid idea ...)

Another idea (which I don't like that much) is to that you define the row number

[2016-08-15 21:15] aaschmid commented on #75
@aburmeis Sorry for the very long delay. I think we talk about two different points here:
1. Integration of junit-dataprovder to junit-jupiter (the new junit5 API)
2. Support for junit-dataprovider with junit-vintage (Support for junit4 tests in junit5)

As I understand correctly your feature branch is for 1. My efforts (see feature branch and https://github.com/junit-team/junit5/issues/445) are f

[2016-08-29 23:04] aaschmid commented on #75
@aburmeis Any comments?

With https://github.com/TNG/junit-dataprovider/tree/issue75-second-try I created a running test engine in order to be able to put JUnit4 and JUnit5 tests into the same test class. And they all got executed :-)

It is beta but IMHO only filtering does not work yet. If anyone needs a SNAPSHOT release to test with. Don't hesitate to ask.

[2016-08-31 10:22] sbrannen commented on #75
There is no need to create a custom `TestEngine` for that. This works anyway just with the presence of the Vintage and Jupiter test engines.

Also, your existing JUnit 4 runner should work fine on the Vintage test engine. So, again, I don't see a need for a custom test engine for your JUnit Data Provider project. On the contrary, as @aburmeis pointed out, you may consider creating a custom `Extens

[2016-08-31 11:21] aaschmid commented on #75
Hi @sbrannen, thanks for your feedback. I created the custom engine as I was not able to run all tests of  a test class containing JUnit4, junit-dataprovider and JUnit Jupiter test cases. I could only solve this by creating a custom test engine.

See the example in https://github.com/TNG/junit-dataprovider/blob/issue75-second-try/src/integTest/java/com/tngtech/test/java/junit/dataprovider/DataProv

[2016-10-19 19:07] aaschmid commented on #79
Since no more response on this, I will close the issue

[2016-10-19 19:07] #79 closed

[2016-10-19 19:47] aaschmid commented on #82
While thinking in more depth about it, it makes no sence to have a ```@BeforeDataProvider("dataProviderName")``` and ```@AfterDataProvider("dataProviderName")``` because
* for any dataprovider specific setup and teardown it must be static (as JUnit creates a new class instance for every test case) i.e. it could also be done using ```@BeforeClass``` and ```@AfterClass``` with some exclusively used

[2016-10-19 19:47] #82 closed

[2016-10-19 19:48] aaschmid commented on #82
Former tries, see https://github.com/Airblader/junit-dataprovider/commit/a778c7e36b4e5dcc61fa9e60f8eb25be92ee66a2

[2016-10-19 19:50] aaschmid commented on #81
Hi  @shenxj1228, was my comment helpful? If yes and your problems are solved, I would like to close this issue :-)

[2016-10-19 19:52] aaschmid commented on #60
@moritzp any updates / suggestions on this?

[2016-10-19 20:30] aaschmid commented on #78
Hi @drdamour,
even if this took some time it is now implemented and will be release with the next release

[2016-10-19 20:32] #78 closed

[2016-10-21 23:12] aaschmid commented on #70
Hi @theone1984,

I introduced a new feature where you can provide a custom resolver for your dataprovider methods. Hope this helps :-)

[2016-10-21 23:12] #70 closed

[2016-11-07 22:50] neoshadybeat opened #83 "Name of the scenario for each provider iteration"
I have no idea if right now It's possible to do something like that

[code]

each test will show the scenario of the left side

[2016-11-08 08:29] janschaefer commented on #83
Please have a look at https://github.com/TNG/junit-dataprovider/wiki/Features#customize-test-method-name. There are plenty of options to modify the name of the test case.

[2016-11-10 21:19] aaschmid commented on #83
Hi @neoshadybeat,

as @janschaefer already pointed out, there are a lot of customizations possible right now. Unfortunately, the specfic naming of test cases is only possible if you us a separate column with a specific format. Does that already answer your question?

Cheers,
Andreas

[2016-12-19 20:38] aaschmid opened #84 "Loading Placeholders via java.util.ServiceLoader"
Instead of require configuration via static initializer, it would be much nicer to use a ServiceLoader to load placeholders. Or even to load a custom PlaceholderManager instead of a predefined one :-)
I would make sense to also load the default placeholders via ServiceLoader.

Think about it ...

[2016-12-25 22:52] aaschmid commented on #84
As this will cause some breaking changes, I think it is better to move this to v2.0...

[2016-12-26 21:21] aaschmid opened #85 "Loading DataProviderMethodResolver via java.util.ServiceLoader ..."
... to be able to generally override `DefaultDataProviderMethodResolver` for every test method.

Think about it :-)

[2017-01-24 07:21] nikowitt opened #86 "Support of wildcards in DataConverter.canConvert"
Hi there,

is there any specific reason why
DataConverter.canConvert, line 31 is implemented as
[code]
instead of
[code]
? This way, lots of type conversions in a dataprovider can be avoided.

Best regards,
Niko

[2017-01-24 12:06] aaschmid commented on #86
Hi @nikowitt,

glad to hear from you and you are still using our junit-dataprovider :-)

No, there is no reason for that besides that I did not think about that case at all. Thanks for that. Am I rude to ask for PR? :-P

Cheers,
Andreas

[2017-01-25 12:12] nikowitt commented on #86
Interesting, it seems that with 1.12.0 it already works - with 1.11.0 I had to implement this.

[2017-01-25 23:14] aaschmid commented on #86
Hm ... I refactored the logic. But good if it works already :-)
At least it is worth to write a unit test for your case, though.

[2017-01-28 15:36] aaschmid commented on #86
Added an addtional test case even if there have already been a lot ...
No release required as it is working with [v.1.12.0](https://github.com/TNG/junit-dataprovider/releases/tag/v1.12.0) already.

Thanks anyway for the feedback :-)

[2017-01-28 15:37] #86 closed

[2017-02-16 08:20] nikowitt opened #87 "Overridden @Test with @UseDataProvider is executed twice"
Hi there,
[code]
and
[code]

When AnotherTest.test is executed, the test is executed twice. It seems that @UseDataProvider is recognized on both the overriden and the original method, therefore the runner assembles the test cases twice. I'm expecting the @UseDataProvider to be recognized on the overriden test only.

[2017-02-16 10:08] aaschmid commented on #87
Hi @nikowitt,

what is the behavior for a normal JUnit 5 test case without a special runner?

Cheers,
Andreas

[2017-02-16 10:23] nikowitt commented on #87
We're using JUnit 4 so I cannot say for JUNIT 5, but the default behaviour in JUNIT 4 without any special runner (thus stripping the params from the signature) is that only one test method (the @Overriden one) is executed.

[2017-02-16 10:48] aaschmid commented on #87
Ah ... sorry. I meant JUnit 4 ...
Ok so this is a defect and I need to fix it

[2017-02-17 06:20] nikowitt opened #88 "Automatically create subtree when dataprovider is used"
Hi there,
do you think that it is possible to introduce subtrees of test per test/dataprovider combination as blogged here?

http://blog.moritz.eysholdt.de/2014/11/new-eclipse-junit-feature-run-subtrees.html

So basically DataProviderRunner needs to be integrated with Parameterized.class somehow (but also preserve the spring runner)

This way, it would be a lot easier to execute multiple tests (as

[2017-02-17 13:30] aaschmid commented on #88
Puh, this is a complex issue ...

1. I already tried a lot with having proper trees but this always leads to not double-clickable parents ... and therefore I decided to not do it.

2. JUnit 5 provides a so called hierarchical runner such that this issue might be absolete if #75 is fixed.

3. What other use cases do you have?
=> It depends heavily on the uses cases how to structure the test cases.

[2017-02-17 14:57] ChristianSchwarz opened #89 "support Named parameters"
Assume we have a data provider that provides 4  paramters:

[code]

It would be nice to use the same provider for different tests even if we don't want to use all parameters provided.

use case with row-index
[code]

use case with row-name
[code]

Edit: I mixed up column and row (not a native speaker),  now it is fixed.

[2017-02-17 15:01] aaschmid commented on #89
Hi @ChristianSchwarz,

thanks for the issue. I will think about it but like the idea pretty much.

Is it some kind of urgent?

Cheers,
Andreas

[2017-02-17 15:17] ChristianSchwarz commented on #89
Well, I am writing currently a test were I could take advantage of it! If you can implement the feature within the next hour would be awsome :smile:

[2017-02-17 15:21] janschaefer commented on #89
What you can do instead is just write a new data provider function that takes the existing one and filters out all unused columns:

     @DataProvider
     public static Object[][] carsFiltered() {
          return filter(cars, 1, 2);
     }

     public static Object[][] filter(Object[][] data, Integer... columns) {
           return ....
     }

such a function could maybe added to the `DataProv

[2017-02-17 15:52] aaschmid commented on #89
@ChristianSchwarz: First of all I still need think about it and within the next hour will unfortunately not be possible at all. But I will try to come up with a solution until end of next week.

Meanwhile you could use @janschaefer solution to do not need to rework too much of your code.

Hope this helps.

[2017-02-17 18:24] aaschmid commented on #87
Hi @nikowitt,

sorry but I cannot reproduce it neither from Eclipse nor Gradle / Jenkins. Which JUnit4 version do you use? I used 4.12.

What do I do wrong? Test case is check in, see package `com.tngtech.test.java.junit.dataprovider.override` in `src/integTest/java`.

[2017-02-17 18:28] aaschmid commented on #89
@ChristianSchwarz and @janschaefer I have one further question.

What would be the benefit for instead using the same dataprovider and just ignoring the arguments which are too much?

[2017-02-17 19:21] PascalSchumacher opened #90 "Show test parameter names in test name?"
At least with java 8 it could be possible to display the name of the test method parameters (instead of the index) in the test name. For example display `testDevision[dividend:10, divisor: 2, quotient:5]` instead of `testDevision[0:10, 1: 2, 2:5]` as test name.

[2017-02-17 20:19] aaschmid commented on #90
Hi @PascalSchumacher, the index of the parameter is not used at all at the moment. Only the index of the row is shown. The format of how the test name is shown, can be adjusted via parameter in `@DataProvider`. However, it would make sense to be able to adjust the default somehow properly.

What do you think?

[2017-02-17 21:29] aaschmid commented on #85
Maybe it is good to be able to set all `@DataProvider` options via a special configuration class ...

[2017-02-17 21:37] aaschmid commented on #83
Hi @neoshadybeat,
what language do you use above?
Do you need a solution of this?
Regards,
Andreas

[2017-02-17 21:39] aaschmid commented on #81
Closed due to no reponse for more than three month now ...
@shenxj1228 if you still have an issue here, please don't hesitate to reopen.

[2017-02-17 21:39] #81 closed

[2017-02-17 21:47] aaschmid commented on #90
Ah yes, for names I think we need to extend the framework that this are provided while resolving the `Placeholder`s but I can do this of course.

[2017-02-18 20:08] thejohnfreeman opened #92 "Can Gradle run these tests in parallel?"
Gradle cannot run JUnit `@Parameterized` tests in parallel, but TestNG has a `parallel` Boolean parameter on the `@DataProvider` annotation. Can Gradle run the junit-dataprovider tests in parallel?

[2017-02-19 10:22] aaschmid commented on #92
Hi @thejohnfreeman,

I have never tried this but in theory every junit-dataprovider test is a separate `FrameworkMethod`. This means if Gradle is parallelizing on this level, it should run out-of-the-box. I will try to reproduce this within the next days. Or is it somehow urgent?

Cheers,
Andreas

[2017-02-19 14:17] thejohnfreeman commented on #92
Not urgent. Thanks!

[2017-02-20 06:30] nikowitt commented on #87
Interesting, using this very simple test seems indeed to work. As we are using a Spring based dataprovider, the issue might be there. I will try to track this further down ASAP.

[2017-02-20 06:44] nikowitt commented on #88
The main use case is the implementation of security tests. Basically there are always 4 test cases (CRUD) and they are populated with several parameters like
[code]

The security tests are designed as a template, so all tests extend from this abstract test class and just the data provider is "overridden" (the specific dataprovider shadows the dataprovider in the superclass), as well as some JGiven

[2017-02-20 16:00] ChristianSchwarz commented on #89
@aaschmid

Sometime you need e.g the first and the last argument out of 3. So this case cant be handled with this approach.

[2017-02-20 16:10] aaschmid commented on #89
It depends if the byte code is compiled with some special option (which is by default switched on ...).

I honestly don't get your case. If you just need first and the last argument out of 3, just ignore the second parameter ... (otherwise you also could have the problem to execute the some test twice because just the second parameter differs ...)

What is your opinion on the two points above?

I

[2017-02-20 20:40] ChristianSchwarz commented on #89
Yes thats my current work around. But i have parameter tests with up to 6 parameters where are only 3 are used. The code becomes unreadable and hard to maintain. Parameters that are not required should be removed to provide clarity of the test.

[2017-02-20 20:43] aaschmid commented on #89
Ok, and how to deal with same test cases as  because just ignored / removed parameters differ?

[2017-02-21 20:44] PascalSchumacher commented on #90
I think displaying the parameter names would be more informative that the index of the row, so having the option to enable this would be nice.

But I have no clue how junit-dataprovider is implemented. So no hard feelings if you just close this because it's not possible/too much work/doesn't fit the vision. :-)

[2017-02-21 20:47] aaschmid commented on #90
Ok, I will implement it but not sure yet if this is a version 2.0 feature as it is breaking a some externally available interfaces ... I will think about this in detail as soon as I have some spare time left :-)

[2017-02-21 20:49] PascalSchumacher commented on #90
Thanks!

[2017-02-21 20:54] PascalSchumacher commented on #75
Nice to hear that we can expect to be able to continue using junit-dataprovider when we switch to junit 5. :+1:

[2017-03-29 03:34] BrianJavaJazz opened #93 "Should I expect the dataprovider to run 3x if there are 3 tests?"
I need to generate my data just once before 3 tests are run.  Afterwards, I walk through the data and use each piece for the tests.  For "this" entity type, test these things, then for the next entity type, test the same things, etc.

But as I increase the number of @Test-annotated tests which are run, the dataprovider will run additional times at startup.  As it is getting the same data, this is

[2017-03-29 17:18] BrianJavaJazz commented on #93
Also, if I change the methods to handle strings, then call the following, it work as I expect:  getDataObject is called a single time.

`	public static Object getDataObject() {
		return new Object[][] {
			{ "Entry One" },
			{ "Entry Two" },
			{ "Entry Three" },
		};
	}`

Stymied in Seattle.

[2017-03-30 07:00] aaschmid commented on #93
Hi @BrianJavaJazz, sorry but I am currently on a business trip and maintaining this in my spare time. I will have a look as soon as possible (at latest on the weekend).
Is that ok?

Cheers,
Andreas

[2017-03-30 08:13] janschaefer commented on #93
Maybe I can try to answer the question. I think there is currently no way to tell the JUnitDataProvider runner to not call the data provider method each time. However, you can easily fix this yourself by just storing the results in a static variable and returning the variable once it has been generated. Like in your first example, where you even store the values in a static variable. You could mod

[2017-03-30 20:21] BrianJavaJazz commented on #93
aaschmid and janschaefer,

Thank you both for your replies.  janschaefer, that is pretty close to what I implemented just yesterday.  In the external class which handles the data (where the dataprovider gets it's data) I have:

`public static Object[][] preloadedData = null;
...
if (preloadedData == null) {
//go generate it
}
`
In this scenario the data is generated once and returned as many times

[2017-04-04 15:54] BrianJavaJazz commented on #93
Hello.  Yes, the workaround is fine.  I have no issues with it, and the urgency is no more than average.  My main concern at the time was that a scan for the same data was costing my tests some extra time, but that was the only issue.

Thank you for your continued communication.  I appreciate it.

Best regards,

Brian

[2017-04-17 21:06] dalewking opened #94 "Support running as a JUnit Rule instead of a JUnit Runner"
Not sure it is even possible, but requiring a Junit Runner makes this plugin unusable in any cases where you have to use another runner. Would be awesome if this could run as a JUnit rule instead.

See https://dzone.com/articles/writing-parameterized-tests for an implementation of test parameters using Junit Rule, but it is not as nice in that it doesn't use method parameters.

[2017-04-20 06:05] aaschmid commented on #94
Hi @dalewking,

thanks for your issue. I thought really long about it already quite some time ago but unfortunately, JUnit 4 doesn't allow a more "native" integration for junit-dataprovider as a rule.
The reason: if you want to get a "native" lifecycle and IDE integration as well as parameters for test methods like now, the tests to be executed must be known very soon after the constructor of the

[2017-04-20 11:49] dalewking commented on #94
My use case is trying to combine data provider with robolectric (using an older version) for parameterized Android unit tests. The robolectric runner is a bit more complicated and its runner actually creates another helper runner. I got close on combining them into a single runner but could not quite get it working. Robolectric has a combined runner for junit parameterized tests, but as you say th

[2017-05-07 15:59] aaschmid commented on #94
Hi @dalewking,

can you send you me your tries combining robolectric and junit-dataprovider runner?
I currently do not have a better idea if I don't want to loose other features described above.

Regards,
Andreas

[2017-05-07 19:35] dalewking commented on #94
All I have now is my failed attempt to do it with 2.4 which I don't think
can work. I am trying to get our app to work with 3.x but running into many
obstacles including memory leaks that did not occur with 2.4 which means we
run out of memory after about 1400 of our 2800 tests.

On May 7, 2017 11:59 AM, "Andreas Schmid" <notifications@github.com> wrote:

[2017-05-08 07:05] aaschmid commented on #94
Hi @dalewking,

can you send you me your tries combining robolectric and junit-dataprovider runner?
I currently do not have a better idea if I don't want to loose other features described above.

Regards,
Andreas

[2017-05-08 18:16] aaschmid commented on #94
Hi @daleking,
thanks for your quick reply. The question for me is, how can I help you properly? Do you have an idea on that?
Cheers,
Andreas

[2017-05-12 20:41] gaponte1985 commented on #92
Any update about this issue?

[2017-05-12 20:41] gaponte1985 commented on #57
I having the same problem, any solution? Thanks

[2017-05-12 21:21] aaschmid commented on #92
Hi @gaponte1985, thanks for the reminder. Currently my real spare time is a bit little but I will try to look at it as soon as possible ...

[2017-05-12 21:23] aaschmid commented on #57
Hi @gaponte1985, hm ... unfortunately I have no real clue about IntelliJ but this can only be fixed by them, so I think we need to either investigate our own or open an issue at their issue tracker ...

Do you have experience with debugging IntelliJ itself?

[2017-05-13 03:11] gaponte1985 commented on #57
<img width="384" alt="screen shot 2017-05-12 at 11 01 42 pm" src="https://cloud.githubusercontent.com/assets/996659/26022059/5c199260-3768-11e7-87bf-3ad89b566b01.png">

[2017-05-13 03:12] gaponte1985 commented on #57
<img width="651" alt="screen shot 2017-05-12 at 11 01 05 pm" src="https://cloud.githubusercontent.com/assets/996659/26022060/64296a5c-3768-11e7-89e6-f7587c9557e7.png">

[2017-05-13 13:40] aaschmid commented on #57
Hi @gaponte1985,

it seems that your loaded dependencies is broken / empty or was not resolved properly somehow. Can you search for the dependency in "External library" folder on the "Project" tool window? What does the package `com.tngtech.java.junit.dataprovider` show?

In Addition some hints: You should use the newest version of junit-dataprovider 1.12.0 instead of 1.10.0. Also the used `String

[2017-05-13 14:23] gaponte1985 commented on #57
<img width="1115" alt="screen shot 2017-05-13 at 10 22 15 am" src="https://cloud.githubusercontent.com/assets/996659/26026274/3fb3f0e4-37c6-11e7-9966-cf921b94dda6.png">

[2017-05-13 14:26] gaponte1985 commented on #57
<img width="1236" alt="screen shot 2017-05-13 at 10 26 14 am" src="https://cloud.githubusercontent.com/assets/996659/26026290/a7a0d94c-37c6-11e7-8782-d1395757e409.png">

[2017-05-13 14:33] gaponte1985 commented on #57
Can it be becuase I using java 8 and this class was compile in java 6?

[2017-05-13 16:19] aaschmid commented on #57
No, we also use junit-dataprovider with java8 already ...

Hm ... very strange ... can you run `mvn clean install` and paste the command line output? Is your project some kind of open source such that I can check it out myself?

[2017-05-15 03:18] gaponte1985 commented on #57
I was able to make it worked not sure how but i have a other question went you say
"Also the used String in @UseDataProvider annotation will never work. It requires a method name as String (mandatory) and optional a Class specified e.g. like BrowserComboDP.class without ". what do you meant for example I trying to test the following scenario....

import com.tngtech.java.junit.dataprovider.DataProv

[2017-05-15 08:13] aaschmid commented on #57
Hi @gaponte1985,

great to hear that you got it working :-)

Sorry for the not precise formulation. Here is your example from above as it should work:

[code]

You can also avoid the explicit mentioning of the dataproviders name by using on of the documented conventions from https://github.com/TNG/junit-dataprovider/wiki/Features#convention-over-configuration.

Hope this helps & clarifies,
Andreas

[2017-05-15 18:31] gaponte1985 commented on #57
Thanks it works!!!!

[2017-05-15 18:32] gaponte1985 commented on #92
Thanks for the updated.

[2017-05-26 06:08] aaschmid commented on #75
Possible solution is using `@TestTemplate`. PoC already reviewable in 6c3c9c26c70ef7eee36b53c76cdad192167450eb.

[2017-05-31 03:28] gaponte1985 commented on #92
still working onm it?

[2017-06-04 21:04] aaschmid commented on #92
Hi @gaponte1985,

sorry for the long delay. I tried to parallelize the integration tests on junit-dataprovider itself using `test.maxParallelForks = 4` (see https://docs.gradle.org/3.0/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:maxParallelForks for details). And as I just use a normal runner as everybody else it should work. Also multiple threads are forked, thoug

[2017-06-06 15:48] gaponte1985 commented on #92
I dont get this one, can you please explain?

[2017-06-06 16:09] aaschmid commented on #92
Hi @gaponte1985,

I used https://github.com/TNG/junit-dataprovider/blob/master/build.gradle and added `test.maxParallelForks = 4` (see documentation on https://docs.gradle.org/3.0/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:maxParallelForks).

Running `gradle build` using above changed `build.gradle` everything worked and tests are executed using multiple forked th

[2017-06-23 16:04] gaponte1985 opened #95 "Can we used cucumber with junit-dataprovider?"
Can we used cucumber with junit-dataprovider?

[2017-06-24 19:57] aaschmid commented on #95
Hi @gaponte1985,

I am not sure what you mean by that. Cucumber has it's own data tables, see https://cucumber.io/docs/reference#data-tables. But if you want to do BDD with a more developer friendly, fluent API, I can recommend to have a look at JGiven, see http://jgiven.org/. This is also usable with junit-dataprovider out-of-the-box.

Does that help?

Cheers,
Andreas

[2017-06-25 14:53] gaponte1985 commented on #95
Thanks but not, so I have a data provider and a class runner, so I used

@RunWith(DataProviderRunner.class )
public class BaseRunner extends FluentCucumberTest {
	@Test
	@UseDataProvider(value = "getParams", location = BrowserComboDP.class)
code
}

How can I tell my class runner of cucumber that I want to used my dataprovider?

[2017-06-25 14:56] gaponte1985 commented on #95
when I run my data provider I am getting the value but, my class runner is not running
<img width="730" alt="screen shot 2017-06-25 at 10 52 47 am" src="https://user-images.githubusercontent.com/996659/27517130-e2291d8c-5994-11e7-8f56-a11e9124a4db.png">

[2017-06-26 05:33] aaschmid commented on #95
Hi @gaponte1985,

Unfortunately, JUnit4 is not flexible enough to have multiple runners. The only possibility is to extend one of the runners to create a single new runner. Here is some documentation for Spring and CDI: https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks#dataprovider-for-dependency-injection-frameworks. Maybe this way is also possible for cucumber class runner.

Do you

[2017-06-26 14:37] gaponte1985 commented on #95
I dont think this will be useful because in one point going to have multiple class runner of cucumber, the idea was to used junit-dataprovider for this. But thanks, maybe in the future you can add that can support cucumber features

[2017-06-26 15:03] aaschmid commented on #95
Hi @gaponte1985, with JUnit5 it will be possible to use multiple Extensions and combine them properly. I am sorry but I don't get your point as cucumber has datatables out of the box, see https://cucumber.io/docs/reference#data-tables. So no need to use junit-dataprovider here IMHO.

[2017-06-28 22:25] gaponte1985 commented on #95
I was able to do it with extends a class that have

new TestNGCucumberRunner(getClass()).runCukes();

[2017-07-13 12:32] frincutudor opened #96 "Can you get the test method name inside the DataProvider?"
Hello ,
I would like to know if there is a way to get the test method name inside the DataProvider.I am working with a xcel and trying to make a single data provider for multiple tests by having the test name on column and comparing them with the test name that is running at a point. Or else i am open to any other ways to make a single data provider.

Thanks very much.

[2017-07-15 18:18] aaschmid commented on #96
Hi @frincutudor,

you can retrieve the `FrameworkMethod` within the `@DataProvider` using https://github.com/TNG/junit-dataprovider/wiki/Features#access-frameworkmethod-in-dataprovider. Is this what you need?

For your Excel idea, you could also have a look at this: (https://github.com/TNG/junit-dataprovider/wiki/Features#custom-dataprovider-method-resolvers) - to not require to implement a `@Data

[2017-08-03 15:23] vpratfr opened #97 "Usage with Kotlin"
I am trying to use your library with Kotlin.

When not inside a companion object, it complains that the provider method is not static (no such concept in the Kotlin language).

When inside a companion object (the way to do static stuff in Kotlin), it complains that it cannot find the method (indeed, it is not anymore in the DataTest class.

Problem: I could not find a way to provide the location a

[2017-08-08 20:16] aaschmid commented on #97
Hi @vpratfr,

sorry for the long delay and thanks for the issue.
Indeed junit-dataprovider is currently not working with Kotlin :-(

I just tried to fix this quickly but due to the missing concept of `static` it is a bit tricky to do so. Currently I have no good idea how to fix this not breaking the good old Java features such that the best way I could think of, is providing a separate version for

[2017-08-08 20:42] aaschmid commented on #97
Hi @vpratfr,

you can ignore my previous post, I found out the solution. Just add a `@JvmStatic` annotation to the companion object function and it plays nicely :-)

Here is my complete example:

[code]

[2017-08-09 08:00] ag24021987 opened #98 "Provision for run-time annotations"
I have 2 tests in my file and both of them have separate data providers providing file paths. I want to be able to run a single test with a single selective file. For that there should be a way of ignoring a @Test based on certain conditions e.g. if the data provider is empty or run-time annotations. If a certain check fails, I should be able to replace my @Test method with something like TestNG h

[2017-08-09 19:43] aaschmid commented on #98
Hi @ag24021987,

I am not sure if I understand your question correctly. If my answer is not what you expect, maybe you can provide an example to make it clearer for me.

If you want to run one of the two tests, you can just click on the test method and choose "Run As" after right mouse click (at least in Eclipse). If you want to run a single dataprovider row, this can only be done by first running

[2017-08-15 08:42] vpratfr commented on #97
Cool. I had not thought about that workaround. Maybe that would be worth mentionning in the documentation (Kotlin support is official in the Android world, so I guess you can expect to get more queries about Kotlin in the near future)

[2017-08-22 09:19] aaschmid commented on #97
done, see https://github.com/TNG/junit-dataprovider/wiki/Features#kotlin-support

[2017-08-22 09:19] #97 closed

[2017-09-22 14:33] matonthecat opened #99 "swapped order of @BeforeClass and @ClassRule"
when using the DataProviderRunner, the setup order of class setup methods (@BeforeClass) and fields annotated @ClassRule is exchanged.

I.e. the following code

[code]

prints

`
BeforeClass executionclassrule execution
`
`
test execution
`

whereas without @RunWith(DataProviderRunner.class) it would print

`
classrule execution
`
`
BeforeClass execution
`
`
test execution
`

This means that if I

[2017-09-22 18:56] aaschmid commented on #99
Hi @matonthecat,

thanks for the issue. Which version are you using? With the newest version I cannot reproduce this issue, but until version 1.10.3 this was an issue introduce with https://github.com/TNG/junit-dataprovider/wiki/Features#beforeclass-support. Since version 1.10.4 I removed this feature because of similar problems you described.

Cheers,
Andreas

[2017-09-22 20:38] matonthecat commented on #99
Hi Andreas,

Thank you for the response.

Not sure if this is in fact a duplication. I understand that the other issue you mentioned is about the order of BeforeClass and DataProvider, whereas this one is about the order of BeforeClass w.r.t ClassRule. The former is not my concern.

Would it be possible to keep the ordering of the latter or are they somehow related?

Best
Matthias

[2017-09-22 20:53] matonthecat commented on #99
Just saw that this is in fact solved. My last test was somehow having an old version (1.10.0) mixed with the latest version on the class path x-)

[2017-09-22 20:53] #99 closed

[2017-09-25 17:59] aaschmid commented on #93
Hi @BrianJavaJazz,

finally I released the new version v1.13.0 containing this fix.

Cheers,
Andreas

[2017-10-03 18:14] aaschmid commented on #75
While working on a real solution, I recognized that the `junit-vintage-engine` does discover and execute old JUnit4 test cases using junit-dataprovider. Nothing needs to be changed :-)

[2017-10-03 20:26] aaschmid commented on #87
Hi @nikowitt,

any news on this?

Cheers,
Andreas

[2017-10-03 20:35] #93 closed

[2017-10-05 18:35] PascalSchumacher commented on #75
But that means you can not use the junit 5 style annotations and junit 5 features in combination with junit-dataprovider, or am I missing something.?

[2017-10-05 18:41] aaschmid commented on #75
Hi @PascalSchumacher,

I am not 100% sure about every feature but as far as I tried it, you can mix junit4 and juni5 tests in one class. Of course that might not make that much sense but it would be a starting point.

In parallel I am working on a solution to run junit-dataprovider "natively" with JUnit5 :-)

Cheers,
Andreas

[2017-10-05 20:15] aaschmid commented on #84
Using JUnit5 meta annotation and this is no longer necessary ...

[2017-10-05 20:15] #84 closed

[2017-10-05 20:15] aaschmid commented on #85
Using JUnit5 meta annotation and this is no longer necessary ...

[2017-10-05 20:15] #85 closed

[2017-10-05 20:18] aaschmid commented on #90
As this is a breaking change for version 1.x, I will implement it with 2.x ...

[2017-10-06 04:32] nikowitt commented on #87
Sorry, not yet (honestly, I forgot about this)... I will see what I can do in the near future.

[2017-10-07 22:50] aaschmid commented on #88
Hi @nikowitt,

I tried again with no proper result. I have no clue about a good solution for this. Even if JUnit5 (alias junit-jupiter) has a lot more possibilities here, the junit-dataprovider will use the `@TestTemplate` and here I also can only provide a display name and no hierarchy...

Cheers,
Andreas

[2017-10-09 08:32] aburmeis commented on #75
I created a JUnit5 extension which turns data providers into test templates so you can use data providers without vintage engine: https://github.com/aburmeis/junit5-dataprovider-extension

[2017-10-09 10:08] aaschmid commented on #75
Hi @aburmeis,

great. I am currently also working on this issue to natively support junit-jupiter, incl. meta-annotations and without requiring junit4 still. I already have a first version (see https://github.com/TNG/junit-dataprovider/tree/issue75-wip where I just created a backup of my last version ...). However the migration path to your solution is somehow easier, so I really appretiate it :-)

[2017-10-13 15:55] aburmeis commented on #75
Thanks fort he feedback! Will have a look at your version next week. Also still some problems with reports in gradle project before final move to Junit5 but that’s a different story ;-)

[2017-10-30 21:13] aaschmid commented on #75
Added first version of migration documentation to https://github.com/TNG/junit-dataprovider/wiki/Guide-to-migrate-from-JUnit4-to-JUnit-Jupiter

[2017-10-31 18:45] aaschmid commented on #75
`2.0-SNAPSHOT` version is now available on "https://oss.sonatype.org/content/repositories/snapshots/". First version of documentation for migration to JUnit5 can be found on "https://github.com/TNG/junit-dataprovider/wiki/Guide-to-migrate-from-JUnit4-to-JUnit-Jupiter".

For Gradle:
[code]

For Maven:
[code]

Feel free to try out and comment your opinion...

[2017-10-31 22:51] aaschmid commented on #90
As I am not willing to include a byte code reading library, this features will only be supported with Java 8 using `-parameter` compiler flag in dataproviders JUnit Jupiter implementation. The first draft is already available :-)

[2017-11-01 11:06] PascalSchumacher commented on #75
Great news. 😄

I will try to migrate https://github.com/benas/random-beans to junit 5 and junit-data-provider 2.0.

[2017-11-01 11:11] PascalSchumacher commented on #90
Thanks. 👍

So I just have to migrate to junit-dataprovider 2.0, compile with the `parameter` flag and use the `na` placeholder in the format string and it should work? Or am I missing something?

[2017-11-01 11:12] aaschmid commented on #75
Hi @PascalSchumacher, I am looking forward to your feedback :-)

[2017-11-01 11:15] aaschmid commented on #90
This is the plan but the feature branch is not merged to master yet and therefore not part of v2.0-SNAPSHOT. You can fork the repo and create your own SNAPSHOT version, though. I will first have to write some unit tests to ensure that it is working properly for all circumstances...

[2017-11-01 11:32] aaschmid commented on #90
My current idea according to the format would be a comma-separated list which items would be `${parameterName}=${argument.toString()}` (simplified).

@PascalSchumacher do you have another idea / desired format because above you wrote something about `:`?

[2017-11-01 16:41] PascalSchumacher commented on #90
Imho `parameterName1=parameterValue1, parameterName2=parameterValue2` format is fine.

I just wrote `parameterName1:parameterValue1, parameterName2:parameterValue2` above because it is closer to the current (positional) format.

[2017-11-01 20:49] PascalSchumacher commented on #75
Migration worked fine, see https://github.com/benas/random-beans/pull/279/files 👍

Sadly the JUnit 5 support in Eclipse is lacking, especially if you mix JUnit 4 and JUnit 5 tests (which you have to if you are using custom runners like Mockito).

[2017-11-01 21:37] aaschmid commented on #75
1) Thanks for your feedback!

2) The JUnit team provided a `MockitoExtension.java`, see https://github.com/junit-team/junit5-samples/blob/master/junit5-mockito-extension/src/main/java/com/example/mockito/MockitoExtension.java. I know that it is ugly to copy and paste but until Mockito 3.0 you might have to ...

3) What do you mean with Eclipse support?
I just installed JUnit5 support (see https://

[2017-11-01 22:05] PascalSchumacher commented on #75
1. You are welcome!

2. Eclipse 4.7.1a supports JUnit out of the box, see: https://www.eclipse.org/eclipse/news/4.7.1a/
But there is https://bugs.eclipse.org/bugs/show_bug.cgi?id=526502 and if you mix JUnit 4 and JUnit 5 tests in a maven project and execute all tests of the project one part is skipped (the JUnit 5 ones if my memory does not trick me.)

3. Thanks for the MockitoExtension link! I ho

[2017-11-01 22:11] aaschmid commented on #75
2) Ah ok, thanks for the info about Eclipse 4.7.1a. But the bug is what I work around by manually adding JUnit5 library to the build path and it works for me and my demo project mixing JUnit4 and JUnit5 as described above.

3) Yes, I know that there are a lot of extensions missing but sooner or later they are coming :-)

[2017-11-02 07:19] codecholeric opened #101 "Custom parameter format"
I don't know, if this is already possible, and I just don't know about it, but I find myself often writing wrapper objects, simply providing a reasonable `toString` for the test parameter (e.g. the input is a `Class<?>` but I don't want `class some.pkg.Foo` in the output, but would rather have the simple class name).

Is there any elegant solution for this case? I know I can control the format of

[2017-11-02 07:41] aaschmid commented on #101
Hi @codecholeric,

you can provide a custom `StringConverter`. Here are the examples:

* JUnit4: https://github.com/TNG/junit-dataprovider/blob/master/junit4/src/integTest/java/com/tngtech/test/java/junit/dataprovider/custom/DateTimeAwareStringConverter.java and usage in https://github.com/TNG/junit-dataprovider/blob/master/junit4/src/integTest/java/com/tngtech/test/java/junit/dataprovider/custom/

[2017-11-02 08:26] codecholeric commented on #101
Sorry, my initial post might have been a little bit unclear, as far as I understand it, your example is exactly the other way around, you write '2017-01-01' and have a `Date` parameter, that is printed as `date.toString()` in the test case output.
What I meant, is a `DataProvider` serving `Date`, but the test case output of the parameter is customized.
I.e.
[code]
and the output would for example

[2017-11-02 09:22] aaschmid commented on #101
Oh, now reading I thought in the wrong direction. You can provide a custom placeholder / formatter. Here are the corresponding examples:

* JUnit4: https://github.com/TNG/junit-dataprovider/blob/master/junit4/src/integTest/java/com/tngtech/test/java/junit/dataprovider/CustomPlaceholderAcceptanceTest.java
* JUnit Jupiter: https://github.com/TNG/junit-dataprovider/tree/1ea65150d3032680bbf50d3a7311eb

[2017-11-03 22:27] aaschmid commented on #98
Hi @ag24021987,
any news on this?
Cheers,
Andreas

[2017-11-03 22:29] aaschmid commented on #96
Hi @frincutudor,
do you have any news on this?
With JUnit Jupiter and JUnit Jupiter Parameterized Tests, the dataprovider gets even more exensible. See #75 for any details how you can test this already.
Cheers,
Andreas

[2017-11-03 22:32] aaschmid commented on #95
Hi @gaponte1985,
is this still an issue for you?
With JUnit5, see #75 you can have multiple extensions such that you can use JUnit dataprovider and Cucumber in combination (if Cucumber already supports JUnit5 but I think there is an extension out there).
Cheers,
Andreas

[2017-11-03 22:33] aaschmid commented on #94
Hi @dalewking,
with JUnit5 support (see #75) now in beta test you can run multiple extensions at the same time (if the extension is already available). Is this an option for you?
Cheers,
Andreas

[2017-11-03 22:34] aaschmid commented on #92
Hi @gaponte1985,
is this still an isssue or could you resolve it?
Otherwise, how can I still help?
Cheers,
Andreas

[2017-11-03 22:48] aaschmid commented on #89
Hi @ChristianSchwarz,

sorry, for not having more time meanwhile to think about this. I got your arguments and also think about the hard to maintain one. Currently I am not sure if it would be hard to maintain to provide the column name / index using an annotation.
Is this still an issue as I am honestly undecided if I want to implement this. Is this really an issue you have a lot? I write a lot o

[2017-11-03 22:50] aaschmid commented on #88
Hi @nikowitt,

JUnit5 and also the corresponding JUnit dataprovider implementation (see #75) will provide this hierarchy out-of-the-box. For JUnit4 I have no more ideas of how to implement this without breaking support of IDEs...

What do you think?

Cheers,
Andreas

[2017-11-03 22:52] aaschmid commented on #83
Hi @neoshadybeat,

is this still an issue? If yes, can you provide an answer to the above question?

Cheers,
Andreas

[2017-11-03 23:05] aaschmid commented on #57
IntelliJ is now using JUnit Platform to execute test case. This fixed the double-click issue. Unfortunately, IntelliJ is still not able to run a single dataprovider test.

Note: Eclipse was able to do this with JUnit4 but now it also seems not to work which let's me assume that this is maybe a JUnit platform issue.
-> I will check :-)

[2017-11-04 01:53] dalewking commented on #94
I've moved on to a different employer so this is not a current concern for me, but others may need it.

[2017-11-04 02:26] codecholeric commented on #101
The example looks like it could be, what I mean, however I don't fully understand the test. When I run it (in IntelliJ), the parameters `methodName1` and `methodName2` are not really changed?
Shouldn't the test have a case `methodName2 = "veryV...ed"` that must be equal then? I only see differences in case, but since the test asserts `equalsIgnoreCase`, this is kind of irrelevant / a test for `Str

[2017-11-04 09:10] aaschmid commented on #101
Unfortunately, the test does not work anymore in JUnit4 as `@BeforeClass` integration was removed with v1.10.4 (because of other unwanted sideeffects) and therefore the additional placeholder is not registered. I fixed this now using a static initializer in `master` branch. Can you check it out again?

And yes, the test case itself is made up just for demonstration as I cannot assert the test nami

[2017-11-04 09:24] aaschmid commented on #94
Thanks for the quick answer. As this will be supported with JUnit 5 (not as rule but with their equivalent mechanism called "extensions") and as there is no possibility I know providing this with JUnit4 without loosing the possibility to provide a proper test output of all executed methods, I marked this "solved" with coming up version 2.0 JUnit5. Therefore I will close this issue.

[2017-11-04 09:24] #94 closed

[2017-11-05 09:18] aaschmid opened #102 "Enable JUnit5 dataprovider to handle additional parameters provided by "ParameterResolver" extensions"

[2017-11-05 12:09] aaschmid commented on #92
Hi @thejohnfreeman,
looking at your issue now, you wanted to know if you can parallelize the dataprovider tests inherited from one single dataprovider for a single test method, right?
Cheers,
Andreas

[2017-11-05 17:13] #102 closed

[2017-11-05 17:21] #75 closed

[2017-11-05 18:36] #90 closed

[2017-11-05 18:48] aaschmid commented on #75
New version of `2.0-SNAPSHOT` version is now available on "https://oss.sonatype.org/content/repositories/snapshots/", containing mainly further features.

[2017-11-05 18:50] aaschmid commented on #102
New version of `2.0-SNAPSHOT` version is now available on "https://oss.sonatype.org/content/repositories/snapshots/", containing also this feature.

[2017-11-05 18:50] aaschmid commented on #90
New version of `2.0-SNAPSHOT` version is now available on "https://oss.sonatype.org/content/repositories/snapshots/", containing also this feature.

[2017-11-05 23:22] aaschmid commented on #57
This seems to be a problem with JUnit5, see https://github.com/junit-team/junit5/issues/1025. As soon as this is solved, Eclipse (see https://bugs.eclipse.org/bugs/show_bug.cgi?id=520923) and IntelliJ should work properly using `UniqueId`s.

Therefore, I will close this defect as it is no longer a problem JUnit dataprovider implementation can solve!

[2017-11-05 23:22] #57 closed

[2017-11-06 14:36] aaschmid commented on #60
Issue will be closed because no response from the reporter for over one year ...
Implementation ideas are documented above but it will break a lot of backwards compatibility ...

[2017-11-06 14:36] #60 closed

[2017-11-09 21:00] #95 closed

[2017-11-10 20:22] aaschmid commented on #88
Just pushed my first tries from some month ago, to have another backup of it ...

[2017-11-19 21:39] aaschmid commented on #96
Closing this because as far as I understood the question, the solution is described above.
Please don't hesitate to reopen and provide any further information or details.

[2017-11-19 21:39] #96 closed

[2017-11-19 21:41] aaschmid commented on #98
Closing this because of no further response from issue creator such that I cannot help any further.
Please don't hesitate to reopen and provide any further information or details.

[2017-11-19 21:41] #98 closed

[2017-11-19 21:42] aaschmid commented on #92
Closing this because of no further response from issue creator and other participants such that I cannot help any further.
Please don't hesitate to reopen and provide any further information or details.

[2017-11-19 21:42] #92 closed

[2017-11-19 21:43] aaschmid commented on #83
Closing this because of no further response from issue creator such that I cannot help any further.
Please don't hesitate to reopen and provide any further information or details.

[2017-11-19 21:43] #83 closed

[2017-12-15 11:53] rpost opened #103 "DataProviders#crossProduct Iterable support"
Can we add `Iterable` support for `com.tngtech.java.junit.dataprovider.DataProviders#crossProduct` arguments?

[2017-12-16 19:23] aaschmid commented on #103
Hi @rpost,

for sure, it's a good idea. Do you already have an implementation you can share via PR?

Cheers,
Andreas

[2017-12-17 10:15] aaschmid commented on #103
And which version are you using (it's not clear from above FQMN)? Is it ok to implement it in v2.0 (or v2.1 respectively)?

[2017-12-18 13:37] rpost commented on #103
Currently I'm still using 1.12.0. I can prepare PR, give me a few days.

[2018-01-02 18:39] alexandroid commented on #79
https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks#dataprovider-for-spring-integration-testing has a dead link to https://github.com/TNG/junit-dataprovider/tree/spring-acceptance-test/src/integTest/java/com/tngtech/test/java/junit/dataprovider/spring

Link in the thread above is dead as well: https://github.com/TNG/junit-dataprovider/tree/spring-acceptance-test/src/integTest/java/com/t

[2018-01-02 19:21] aaschmid commented on #79
Hi @alexandroid, thanks for the hint. I recently updated the referenced branch to the new master with containing subprojects now and overlooked that it was referenced in the "Tips and Tricks" page.

I fixed the links in the documentation.
The above link should now be https://github.com/TNG/junit-dataprovider/tree/spring-acceptance-test/junit4/src/integTest/java/com/tngtech/test/java/junit/dataprov

[2018-01-02 23:50] codecholeric opened #104 "Regression v.1.11.0 -> 1.12.0 ?"
Yes, I know, I'm a late adopter, but I just tried to upgrade the JUnit DataProvider to the actual version (I had 1.10.0), and realized, that my tests were suddenly failing:

[code]

In earlier times it was possible, to define a test in a base class and then reuse that test with different data providers in subclasses (I know, that might not be the way to go, but it did work in earlier versions).
Ex

[2018-01-03 18:34] aaschmid commented on #104
Thanks @codecholeric for this issue. I will have a look during the next days or is it more urgent?

[2018-01-04 20:09] aaschmid commented on #104
Can reproduce the issue. Unfortunately, I haven't had a test case for this scenario as I have never really thought about writing a test like this.

@codecholeric: Is it possible that you migrate to v2.0 such that it is sufficient to fix it there?

[2018-01-04 20:57] aaschmid commented on #104
While fixing this issue, I also had to realize that this is quite hard to fix with v1.* as it requires a lot of API changes ...

[2018-01-04 23:37] codecholeric commented on #104
I wanted to migrate to 2.0 anyway, so I have no problem, if it only works there :wink:
And it's not urgent, I've downgraded to 1.11 again, and for the moment everything works.
I could also probably write it in a different way, just concat all data in one test class, instead of creating multiple subclasses with partial data, so that it would work with 2.0.

[2018-01-05 19:59] aaschmid commented on #103
Hi @rpost,
I am ready to implement this features but have the following question:
* Do you want to `crossProduct` two `Iterable<?>` or two `Iterable<Iterable<?>>`?
Cheers,
Andreas

[2018-01-08 16:35] rpost commented on #103
I'd suggest to support both options, method arguments would be two `Iterable<?>` and then inside the method depending on given `Iterable` parameter type do the right thing (?)

[2018-01-14 17:47] aaschmid commented on #104
Note: a potential workaround would be specifiying the location of the test explicitely (if you do not have to many cases....)

[2018-01-14 17:51] #104 closed

[2018-01-14 17:52] #103 closed

[2018-01-23 03:23] weiro-9-w7 opened #105 "Dataprovider caches results even for dynamically created data / results (e.g. using test method as parameter)"
Hello , would you help to check the issue.
I write a sample in https://github.com/weiro-9-w7/junit-data-provider
when you DataProviderExternelFileTest testcase,  FrameworkMethod get annotation is the other method annotation.

@RunWith(DataProviderRunner.class)
public class DataProviderExternelFileTest {

    @Test
    @UseDataProvider(value = "loadFromExternalFile", location = LoadFromExternalFile

[2018-01-23 03:26] weiro-9-w7 commented on #105
<dependency>
            <groupId>com.tngtech.junit.dataprovider</groupId>
            <artifactId>junit4-dataprovider</artifactId>
            <version>2.0</version>
            <scope>test</scope>
        </dependency>

[2018-01-23 21:52] aaschmid commented on #105
Hi @weiro-9-w7,

I will have a look as soon as I can. How urgent is the topic for you?

Cheers,
Andreas

[2018-01-24 09:14] weiro-9-w7 commented on #105
Hi @aaschmid ,
        I'm glad you can give feedback to me in time.  We prepare to use Junit-data-provider on the legacy systems .  The function of different methods to use different annoation data is very important to us.  So we hope to help solve it as soon as possible.

[2018-01-24 20:41] aaschmid commented on #105
Hi @weiro-9-w7,

to be honest, I don't get your problem. Everything is working fine on my machine, see this screenshot:
![screenshot_20180124-213845](https://user-images.githubusercontent.com/567653/35355862-fa69ed88-014e-11e8-83db-c197b131b2bd.png)

Test `should_return_array_when_is_array_is_true` got an array and the other didn't get one, as expected.

Is there another issue, I haven't understoo

[2018-01-24 20:45] aaschmid commented on #89
I will close this issue due to no response. If you are unhappy with that, don't hesitate to reopen and ask your questions.

[2018-01-24 20:45] #89 closed

[2018-01-24 20:50] aaschmid commented on #88
Closing this issue due to no further response. If I understand this issue correctly, JUnit5 is able to offer what you want. However, JUnit4 lacks of opportunities to achieve grouping dataprovider tests (e.g. within their method names). A workaround would be directly inheriting `ParentRunner` and implementing it step by step manually ...

[2018-01-24 20:50] #88 closed

[2018-01-24 20:53] aaschmid commented on #87
As I still cannot reproduce this issue and as I have no other idea where this defect could be located, I will close this for now. Please don't hesitate to reopen on new information.

[2018-01-24 20:53] #87 closed

[2018-01-25 07:12] weiro-9-w7 commented on #105
Hi @aaschmid ,
         yes, you can't get any problems because I move one method to other class.
When one class have two methods and use annotation,  issues will happen.
Would you run test for DataProviderExternelFileMixTest.  you will found problem.

[2018-01-25 07:13] weiro-9-w7 commented on #105
![image](https://user-images.githubusercontent.com/33146300/35375533-57a71208-01e2-11e8-982a-0cc059dfb9ff.png)

[2018-01-25 07:18] weiro-9-w7 commented on #105
![image](https://user-images.githubusercontent.com/33146300/35375716-0387787e-01e3-11e8-87ec-6c7f3d3e2c6b.png)

[2018-01-25 17:58] aaschmid commented on #105
Hi @weiro-9-w7,

problem is that the dataprovider results are cached per test class such that your dataprovider method is only called once for the first test case in this class. As JUnit4 always evaluates all test cases before executing it, it does not matter if you only execute one test case or all test cases in that class.

This caching mechanism was introduced by feature request, see #93. The c

[2018-01-26 01:33] weiro-9-w7 commented on #105
@aaschmid
thanks

[2018-01-28 21:58] aaschmid commented on #105
Hi @weiro-9-w7,
I fixed the issue by introducing a `cache` option on `@DataProvider`, see commit 143948f (or above). I just need to stabilize the test cases (very fragile currently). You can test it manually by cloning the repo and creating your own version locally.

Any feedback welcome.
Cheers,
Andreas

[2018-01-29 18:53] aaschmid commented on #105
Works with new version v2.2, see

![screenshot_20180129-195108](https://user-images.githubusercontent.com/567653/35528383-fa074574-052d-11e8-85d7-efe77fa4d9c4.png)

[2018-01-29 18:53] #105 closed

[2018-02-05 06:35] weiro-9-w7 commented on #105
Hi @aaschmid ,  verified, thanks!

[2018-02-23 10:39] x3rAx opened #106 "Duplicate execution when test implements an interface"
Hi,

I've just started using `junit-dataprovider` and I'm also relatively new to Java / Java unit testing so please forgive me if I'm doing something completely wrong here.

### Let me first provide some context:

I've created an interface that certain types of my tests should implement. This is because I have an abstract class and some child classes that should all share the functionality/interfa

[2018-02-24 16:27] aaschmid commented on #106
Hi @x3rAx,

I can reproduce your issue using IntelliJ I have no Android Studio. The interesting thing is, though, that it works correctly in Eclipse, executing the same code snippet ...

This is quite strange but I will take some more time to debug it further.

How urgent is it on your side?

Cheers,
Andreas

[2018-02-27 23:33] x3rAx commented on #106
Hi @aaschmid,

it's just for a small project I'm contributing to in my free time. So it's not particularly urgent for me. As long as I can run them successfully I'm fine :)

I was just wondering what was going on there when I saw the duplicate test results and at first I thought it was my fault. But after some investigation I was certain that it was a bug and I thought, someone should mention it s

[2018-03-15 22:01] dalewking commented on #101
I have similar issues but think the given solution is way too complex and does not really work. My case is simply one of the values is a long, but I want it displayed in hex for a particular data provider. I end up sending it in as a hex string and converting to long in the test method.

[2018-03-18 13:22] codecholeric commented on #101
Maybe to help the discussion, I can add a typical type of test case that I'm frequently encountering in my project. Let's suppose we have some `ShippingAddress` POJO with 10 properties. `toString()` will print some form that lists all those properties. We want to write a test that checks that an inner country shipping address leads to a different tax rate than an outer country address. Instinctive

[2018-03-18 17:58] aaschmid commented on #101
Thanks for your comments,

@dalewking and @codecholeric here are the brainstormed options I could think about:

* Doing something like the commits above already prototype (analogous to http://jgiven.org/) ... Disadvantages IMO is that it adds another complexity to placeholder resolution. I currently prefer a complete rewrite of test name formatting, instead of following further the placeholder app

[2018-03-18 18:15] aaschmid commented on #101
These are examples how the usage could look like:

* from the commits above
[code]

* Specify a test name formatter
[code]

* Another annotation
[code]

* `toString()` for every parameter
[code]

[2018-03-23 18:17] codecholeric commented on #101
Personally I like the second and third approach the most, with no specific preference. Both approaches would solve my problems, as far as I can see. The decision probably depends on the desired degree of separation from an API point of view, approach 3 suggests more, that it is an independent feature, while approach 2 binds it stronger to the core functionality...
E.g. approach 3 could also be gen

[2018-03-30 21:03] aaschmid commented on #101
I implemented approach 2 ("specify a test name formatter with `@DataProvider`") for `junit-jupiter` in commits above, simply because it fits better with existing APIs and strategy.

@codecholeric Is that sufficient for you or do you also need it in `junit4` module?

Note: I want to get rid of `format = "..."` option in `@DataProvider` in the future but giving `formatter` precedence should be perfe

[2018-03-30 22:46] dalewking commented on #101
I needed it in junit 4 but today is my last day on that job so not so much
now.

On Fri, Mar 30, 2018, 5:03 PM Andreas Schmid <notifications@github.com>
wrote:

[2018-03-31 16:29] aaschmid commented on #101
Hi @dalewking, maybe your colleagues can use it, so I also provided the solution for JUnit4.

[2018-04-02 09:05] aaschmid commented on #106
The problem are known and the phenomenon is called "Bridge methods" caused due to type erasure, see also https://docs.oracle.com/javase/tutorial/java/generics/bridgeMethods.html

[2018-04-02 10:33] aaschmid commented on #106
Fixed it for new in junit-dataprovider `junit4` module (even if JUnit4 should normally fix that itself).

Why does it work with JUnit5?
* JUnit5 filters `method.isSynthetic()` such that bridge. More about synthetic methods: https://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.7.8

[2018-04-02 14:22] codecholeric commented on #101
I need it for JUnit 4 for our current project, too, so thanks a lot :smiley:
I'll try this as soon as 2.3 is out...

[2018-04-02 14:43] aaschmid commented on #101
Hehe, depends only on my time tonight :-)

[2018-04-02 19:57] #101 closed

[2018-04-02 19:58] #106 closed

[2018-04-02 22:11] codecholeric commented on #101
Nice, thanks :smiley:
It might take a little, until I can give you feedback from our project, because it's not an easy process to upgrade OS library versions :wink:

[2018-04-12 11:19] Airblader opened #109 "Improve documentation of integration with Spring"
See the documentation of [junitparams](https://github.com/Pragmatists/junitparams-spring-integration-example#alternative-way-to-start-spring-context). There's a better way to integrate with Spring than writing your own test runner.

Also, the custom runner implemented in the tests has a typo in its name (Sprin_t_…).

[2018-04-26 17:08] aaschmid commented on #109
Hi @Airblader, thanks for this issue and your comments. I adjusted the https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks page and fixed the typo.

Fine for you?

[2018-04-27 06:39] Airblader commented on #109
Yes, thanks!

[2018-04-27 06:39] #109 closed

[2018-04-30 21:42] rohitgargfzr opened #110 "Does it include testng @Factory annotation functionality?"

[2018-05-01 06:45] aaschmid commented on #110
Hi @rohitgargfzr,

currently junit-dataprovider does not support the features of TestNGs `@Factory` annotation. Instead, you can combine JUnit Jupiters [nested tests](https://junit.org/junit5/docs/current/user-guide/#writing-tests-nested) and `@BeforeAll` annotation for a nested test class with junit-dataprovider or JUnit Jupiter Parameterized Tests to achieve similar results.

What is you use cas

[2018-05-18 22:27] praveenc79 opened #111 "Unable to run specific test using mvn commandline"
## Overview

 DataProviderRunnerWithSpring  does not seem to support selectively running test from a testclass.

For example, In my project I have test - call TestClass and a specific test call test 1
@RunWith(DataProviderRunnerWithSpring.class)
@ContextConfiguration(classes = IntegrationTestConfiguration.class)
public class TestClass {

 @UseDataProvider(value = TestDataProvider.USER, location =

[2018-05-19 15:47] aaschmid commented on #111
Hi @praveenc79,

thanks for your issue. Unfortunately, I cannot reproduce the issue. Therefore some questions:

* Which version of `mvn` do you use? (`mvn --version`)
* Which version of `surefire-plugin` do you use? (see `pom.xml` or build log)
* Which version `junit-dataprovider` and `spring-test` do you use? (`mvn dependency:tree`)

Use Maven (v3.5.2 with surefire-plugin v2.17) on branch [issue1

[2018-05-23 17:32] aaschmid commented on #111
The problem is the missing `\*` before `JavaAcceptanceTest` such that the command must be
[code]
Otherwise you can also use the full class name:
[code]

[2018-05-23 20:49] praveenc79 commented on #111
You are absolutely correct @aaschmid !!! I was confused by the total number of tests being run with those. When I closely looked at the test it shows runs for various data set.

It does not work in our project though. I will continue to work on that.

[2018-05-23 20:50] praveenc79 commented on #111
I am closing issue.

[2018-05-23 20:50] #111 closed

[2018-05-24 08:45] aaschmid commented on #111
Thx @praveenc79. If you have any further questions or issues, don't hesitate to open an issue.

[2018-07-01 17:18] aaschmid commented on #110
Any answers on this @rohitgargfzr?

[2018-08-17 19:46] emaks opened #113 "DataProviderRunner.class do not use rerunFailingTestsCount in parallel"
I have maven project with next pom.xml
[code]
And 2 test classes
[code]
and
[code]
# Actual result
If I run ``` mvn test ``` tests will be executed without re-run and fail
# Expected result
Tests will pass(with re-run)

# Note
If I change
[code]
on
[code]
Test will pass

[2018-08-23 20:59] aaschmid commented on #113
Puh ... I at least identified the problem:
* Maven uses a special [MatchDescriptions](https://github.com/apache/maven-surefire/blob/master/surefire-providers/common-junit4/src/main/java/org/apache/maven/surefire/common/junit4/MatchDescriptions.java) `Filter` for rerunning failed test cases.
* This causes that junit-dataprovider is not able to filter the tests to executed correctly.
* Therefore no

[2018-09-11 12:05] emaks commented on #113
@aaschmid Is the any plans when you could fix this issue?

[2018-09-11 13:28] aaschmid commented on #113
@emaks: there is but I was and I am a bit busy with some complex private issue ...

How urgent is it for you? Sounds like you have a lot blinking test cases, do you?

[2018-09-11 15:45] emaks commented on #113
@aaschmid
unfortunately, yes I do. I use this approach for selenium tests which are testing application with a lot of 3rd-party integrations. Those integrations are unstable and at that moment only one possible solution for this situation - re-run failed tests

[2018-09-14 21:11] aaschmid commented on #113
Understood. Can you try version "2.4-SNAPSHOT" which I just created and uploaded to [Maven Central Snapshop Repository](https://oss.sonatype.org/content/repositories/snapshots)?

[2018-09-17 14:13] emaks commented on #113
works as expected with this version

[2018-09-23 13:56] aaschmid commented on #110
Closing because of no response to this. Please don't hesitate to reopen.

[2018-09-23 13:56] #110 closed

[2018-09-23 14:06] aaschmid commented on #113
Thanks for the feedback. I will release version 2.4 as soon as oss.sonatype.org is available again.

[2018-10-28 09:54] pedrocatre commented on #79
Instructions above did not work for me, they seem outdated or I did something wrong.
Maybe this helps someone, I followed the instructions here https://www.lenar.io/junit-dataprovider-with-spring-example/ they are clear and work.

[2018-10-28 10:46] aaschmid commented on #79
Thanks for this comment. Do you have an exception message or compile error for me? Which versions do you use?
(I also added the link to the corresponding wiki page.

[2018-10-28 11:31] pedrocatre commented on #79
I think I used "junit-dataprovider v1.10.0" as mentioned and not all imports in https://github.com/TNG/junit-dataprovider/blob/master/junit4/src/main/java/com/tngtech/java/junit/dataprovider/DataProviderRunner.java got resolved. I quickly moved on to other instructions so maybe there was something I did not read. For example I just saw mentioned that I should have "cdi-unit v3.1.3" as a dependency

[2018-11-04 03:30] flocsy opened #114 "@DataProvider runs before @BeforeClass"
## Overview

- ( ) **Bug report.**

version 1.13.1

[code]
I would expect @BeforeClass to run before anything else.

[2018-11-04 10:05] aaschmid commented on #114
Thanks for the issue @flocsy. Due to some limitations and forces of JUnit4 internals it is not possible to evaluate `@BeforeClass` before `@DataProvider` :-(

Explaination and History:
I'm was not - and still I am not - very happy with that situation either and implemented a workaround, see https://github.com/TNG/junit-dataprovider/wiki/Features#beforeclass-support-junit4-only. Unfortunately it co

[2018-11-04 10:28] flocsy commented on #114
thanks

[2018-11-04 10:40] aaschmid commented on #114
Won't fix. For reason see my comment above. On any further question, don't hesitate to ask :-)

[2018-11-04 10:40] #114 closed

[2019-01-08 16:33] yoosiba opened #115 "version 2.* not available in mvnrepository"
## Overview
version 2.* is available at [https://search.maven.org](https://search.maven.org/search?q=g:com.tngtech.junit.dataprovider%20AND%20a:junit4-dataprovider&core=gav) but not at [https://mvnrepository.com](https://mvnrepository.com/artifact/com.tngtech.java/junit-dataprovider)

- ( ) **Question.** Can you provide version 2.* in mvnrepository?

In some situations used repositories are restri

[2019-01-08 16:45] aaschmid commented on #115
This is just because the group- and artifact-ids changed with version 2.0, see https://github.com/TNG/junit-dataprovider/wiki/Migration-guides#migration-from-v1-to-v2 and on its detail pages https://github.com/TNG/junit-dataprovider/wiki/Migration-from-JUnit4-to-JUnit-Jupiter and https://github.com/TNG/junit-dataprovider/wiki/Migration-from-JUnit4-to-JUnit-Jupiter-Parameterized-Tests.

Even at htt

[2019-02-14 12:37] raulvillalbamedina commented on #114
In version 1.10.0 this problem is ok

[2019-02-14 12:41] raulvillalbamedina commented on #114
in version 1.10.3 is ok too. After in 1.10.4 the error appear

[2019-02-14 12:50] aaschmid commented on #114
Yes, see https://github.com/TNG/junit-dataprovider/wiki/Features#beforeclass-support-junit4-only:

[2019-03-12 13:30] codecholeric opened #116 "Memory leak through DataProvider?"
In my current project we use the Maven Surefire Plugin (2.18.1) together with JUnit 4 to run a vast number of `DataProvider` test classes (> 5000). I've noticed that with the default settings all data from all `@DataProvider` methods is kept in memory for the whole run. As far as I understand the flow is something like

1) Surefire determines it can execute all x classes eagerly (`JUnitCoreWrapper

[2019-03-28 21:18] drdamour opened #117 "SpringRunner Docs aren't very helpful"
https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks#since-spring-version-42 seems to promise i can use this lib with SpringRunner but i can't find an actual example.  is there a minimum required version of dataprovider?  can we get an integrtion test that shows it working or a gist?

[2019-03-28 21:28] aaschmid commented on #117
@drdamour there is no working example, correct. Reason is, that Spring is improved, extended rapidly such that is will soon be outdated.

However, there is a branch with an integration-test, see https://github.com/TNG/junit-dataprovider/tree/junit4-spring-acceptance-test.

Also you can tell me the Spring version and the junit-dataprovider and I can make up an example for you.

[2019-03-28 22:52] drdamour commented on #117
spring boot 1.5 / spring 4.3

test is like  note the SpringRunner.  your readme mentions stuff about SpringRunner but doesn't help me know how to use it.  any help is appreciated

[code]

note the use of SpringRunner, the existing acceptance test

[2019-03-29 11:29] aaschmid commented on #117
OK, and which version of junit-dataprovider do you use @drdamour?

More hints: In https://github.com/TNG/junit-dataprovider/tree/junit4-spring-acceptance-test/junit4/src/integTest/java/com/tngtech/test/java/junit/dataprovider/spring you find the following:

* [SpringDataProviderRunner.java](https://github.com/TNG/junit-dataprovider/blob/junit4-spring-acceptance-test/junit4/src/integTest/java/com/t

[2019-03-29 13:33] drdamour commented on #117
junit 4

[2019-03-29 13:38] drdamour commented on #117
i thought based on readme there was a way to use SpringClassRule and SpringMethodRule, thats what i was looking for

[2019-03-29 15:20] aaschmid commented on #117
ah I see, thought you where talking about `*Runner` ...

Currently, there is no example.

Does it not work out of the box? Do you have an error if just applying `@RunWith(DataProviderRunner.class)` and `SpringClassRule`?

[2019-03-29 15:33] drdamour commented on #117
i dont know what that would even look like

[2019-03-29 15:36] aaschmid commented on #117
Should be something like:

[code]

[2019-03-29 23:37] drdamour commented on #117
Both rules were need to make mockmvc work, but very nice

[code]

thanks!

[2019-03-30 05:47] aaschmid commented on #117
great :-)

[2019-03-30 05:47] #117 closed

[2019-03-31 19:45] aaschmid commented on #116
thanks @codecholeric, I soon have some vacations and will consider this there :-)
If it is more urgent, don't hesitate to tell this.

[2019-04-19 10:38] aaschmid commented on #116
I created a fix and a snapshot version, see https://oss.sonatype.org/content/repositories/snapshots/com/tngtech/junit/dataprovider/junit4-dataprovider/2.5-SNAPSHOT/. Would you like to test it @codecholeric?

For Gradle:
[code]

For Maven:
[code]

[2019-05-25 16:16] codecholeric commented on #116
I couldn't try the fix in our project yet, one thing I have noticed though is that my suggestion might have been a little short-sighted.
Because I've tried the fix in a little example project and I've noticed that it might also be a problem, that `DataProviderRunner` creates all test data on construction.
For example IntelliJ seems to initialize all runners necessary to run the tests in advance, i

[2019-07-02 21:24] geoffreyharding opened #118 "Compatibilty with junit-jupiter-engine 5.4.0 or higher"
*Version*: junit-dataprovider 2.4

*Description*: When using jupiter-engine version **5.4.0** or higher with junit-dataprovider, there are compilation and runtime errors.

*Repro Steps*:
- Replace junit-dataprovider\junit-jupiter\pom.xml with the attached pom.xml file.
[pom.xml.txt](https://github.com/TNG/junit-dataprovider/files/3352355/pom.xml.txt)
- java.version : 11 or 1.8 (doesn't matter)
- m

[2019-07-04 18:52] aaschmid commented on #118
Thanks for pointing this out @geoffreyharding. I can reproduce it and I will have a look at it.

[2019-07-04 19:01] aaschmid commented on #118
Found a fix but unfortunately this will cause incompatibility with < 5.4.0 and I like backwards campatibility ;-)

[2019-07-04 19:20] geoffreyharding commented on #118
for junit-jupiter-engine 5.4+ support we will consider migrating from junit-dataprovider to junit-jupiter-params.

[2019-07-04 19:46] aaschmid commented on #118
Sounds a good step IMO. All the best for doing it :-)
I would be curious about a quick report about do's and don'ts as well as pitfalls if you don't mind :-)

[2019-07-04 20:05] aaschmid commented on #118
As the junit-team changed the API again with 5.5.0 I prefer creating a new version for 5.5.0 and skipping 5.4.0 such that there is no junit-dataprovider version supporting 5.4.0. What do you think @geoffreyharding?

[2019-07-06 14:16] aaschmid opened #119 "Upgrade to maven-publish plugin as Gradle broke signing with 5.1.1"
## Overview

Gradle broke signing with 5.1.1 and since than it is not fixed. I haven't found a workaround - besides downgrading to 5.0 - and they suggest to upgrade to new maven-publish.

Console output while signing is activated:
[code]

## Deliverables
- [ ] Upgrade `build.gradle`
- [ ] Upgrade Gradle wrapper

[2019-07-06 14:20] aaschmid commented on #119
Links:
* https://github.com/gradle/gradle/issues/8213
* https://github.com/vanniktech/gradle-maven-publish-plugin/issues/38
* https://discuss.gradle.org/t/apply-plugin-signing-broke-in-gradle-5-1-1-and-prints-out-non-existent-task/31418

[2019-07-06 14:24] #118 closed

[2019-07-23 08:54] Vengat opened #120 "Unable to use DataproviderRunner with PowerMock"
## Overview

Unable to use DataProviderRunner with PowerMockRule as well as PowerMockDelegator. I need to mock static and final classes/methods. I am not able to get DataProvider to work with this combination when run as mvn test with PowerMockRule declared.

Eclipse run these tests, fine if I remove the PowerMockRule, when run as Junit tests but when I invoke the tests from the Maven command noth

[2019-07-23 08:55] Vengat commented on #120
@RunWith(DataProviderRunner.class)
@PrepareForTest({ CertificateManagementService.class, CertificateManagementDao.class, LoggerFactory.class,
		org.slf4j.LoggerFactory.class })
@PowerMockIgnore({ "java.net.ssl", "javax.security.auth.x500.X500Principal" })
public class CertificateManagementServiceTest {

	@Rule
	public PowerMockRule rule = new PowerMockRule();

[2019-07-23 08:58] Vengat commented on #120
java.lang.IllegalStateException: Cannot clear JavaAgentClassRegister. Set method has not been called.
	at org.powermock.api.extension.agent.JavaAgentFrameworkRegisterImpl.clear(JavaAgentFrameworkRegisterImpl.java:41)
	at org.powermock.modules.junit4.rule.PowerMockStatement.clearFrameworkAgentClassRegister(PowerMockRule.java:84)
	at org.powermock.modules.junit4.rule.PowerMockStatement.evaluate(Powe

[2019-07-23 12:51] wolfwestern opened #121 "When will it support non static dataprovider ?"
## Overview

- ( ) **Feature request.**
Sometimes, we wanna use variables in application.properties as the drivern data of dataprovider.
Have you thought about this feature ?

## Deliverables

- [ ] ...

[2019-07-23 13:26] aaschmid commented on #121
Unfortunately, it is not possible with JUnit4 to create a meaningful non static because the tests are initialized in the runner's constructor where not instance is created of the test. I could of course create may own instance for executing the dataprovider but this would be a different instance than used for executing the test case.

Have you thought about JUnit5 Parameterized Tests and create a

[2019-07-27 11:13] aaschmid commented on #120
Unfortunately, I have not a lot experience with PowerMock, yet. A little reproducer as Git repository would really help me @Vengat. Would that be possible?

[2019-09-20 21:43] aaschmid commented on #120
@Vengat any further feedback on this, otherwise I will close the issue. Thanks.

[2019-09-21 11:26] Vengat commented on #120
Andreas, sorry could'nt get back to you. Will elaborate today.

On Sat, Sep 21, 2019, 3:13 AM Andreas Schmid <notifications@github.com>
wrote:

[2019-12-14 12:32] aaschmid commented on #121
Due to no further response on my question, I will close this issue. @wolfwestern don't hesitate to reopen in order to continue discussing options.

[2019-12-14 12:32] #121 closed

[2019-12-14 12:33] aaschmid commented on #120
@Vengat: Any news on this?

I will close this issue while waiting for response, but don't hesitate to reopen if you have any further information for me to reproduces it.

[2019-12-14 12:33] #120 closed

[2019-12-14 12:44] aaschmid commented on #116
After reconsidering this issue, I am not sure if it is possible to solve properly.

As already discussed, all the tests are executed at "startup" in order to be able to filter them and get / display the tests to be executed in the build tool / IDE. Therefore I also need to initialize the dataproviders in order to gather all the test cases...

I can release the created and no longer used dataprovid

[2019-12-14 12:44] #116 closed

[2019-12-14 14:20] aaschmid commented on #119
[] How to set dependencies as `provided` in resulting 'pom.xml` files
    * Can this (https://docs.gradle.org/current/userguide/publishing_maven.html#publishing_maven:resolved_dependencies) be used or can this only change versions not the scope?
[] Incorporate alternative to no longer availble "OSGi plugin

[2019-12-14 18:02] #119 closed

[2019-12-19 08:08] Vengat commented on #120
Sorry for the late reply, Andreas...I had to move on with TestNG. Anyways I
will try to recreate the bug, if I get some free time.

Again apologies for the late reply.

On Sat, Dec 14, 2019 at 6:03 PM Andreas Schmid <notifications@github.com>
wrote:

[2019-12-22 16:01] aaschmid opened #122 "Fix and cleanup duplicates, spotbugs and fail build on new ones?"
- [ ] cleanup duplicates
- [x] fix spotbugs issues
- [x] consider failing spotbugs on new issues
- [x] maybe also investigate why spotbugs is not loaded often from cache (may not be an issue of that project)

[2019-12-22 19:33] aaschmid opened #123 "Migrate build scripts to new Kotlin DSL"

[2019-12-28 23:42] aaschmid opened #125 "Fix coveralls report"
See Build Scans (https://scans.gradle.com/s/exgu7vzoe5t5c) or local build:

[code]

(This is also the problem on `master`)

[2019-12-29 11:51] aaschmid commented on #125
Reason seems to be because FQDN `com.tngtech.junit.dataprovider.DataProvider` exists twice in `junit-jupiter` and `junit-jupiter-params` project.

[2019-12-29 22:23] aaschmid commented on #125
Remaining topic is that since commit 92cef54 no `integTest.exec` is generated for `junit-jupiter` and `junit-jupiter-params` subprojects. Strangely, for `junit4` it is generated ...

[2019-12-29 23:42] aaschmid commented on #123
Tested and rebased quite a lot but now having a pretty much stable and consistent version :-)

[2020-01-05 16:47] #123 closed

[2020-01-05 16:47] #125 closed

[2020-01-05 17:17] aaschmid commented on #122
Duplicates will not be solved with this issue as they mainly come from splitting `junit4` code into `core` and `junit4` for JUnit Jupiter support as well as very equals tests for `junit-jupiter` and `junit-jupiter-params` modules.

Therefore closing this isssue.

[2020-01-05 17:17] #122 closed

[2020-04-23 11:10] Harikahema1 opened #126 "Maven command line doesn't recognize the automation scripts"
Trying to execute automation scripts build on cucumber,java,junit through Maven command line

- I am running tests using java, cucumber with Maven. I am using intellij IDE. Also the pom.xml has cucumber dependencies. I am running tests in two ways.
1) From intellijIDE: Through Test runner class, test scripts are running without any error
2) Through maven command line: mvn test -Dcucumber.options="

[2020-04-23 12:53] aaschmid commented on #126
@Harikahema1:
* Do you also have a unit test file which I can run to try reproducing your error?
* Do you use the same command line arguments when running the tests from your IDE?

I will have a deeper look as soon as I have more time...

[2020-04-23 14:45] Harikahema1 commented on #126
@aaschmid
I tried to run scripts through the same command line arguments  from intellij IDE and i got the same error:
" error: package com.google.gson does not exist"
"error: package com.core does not exist"
.....etc etc

[2020-04-23 17:09] aaschmid commented on #126
So, would you aggree that it is somehow related to `-Dcucumber.options="--tags @automated"` command line arg, right?

[2020-04-24 08:16] Harikahema1 commented on #126
I am not sure.
I even tried using simple maven command for running scripts "mvn test" followed by "mvn clean" , still i get the same error.

i just want to run all the tagged(@automated) test scenarios through maven command line.

[2020-04-26 08:13] aaschmid commented on #126
Start looking deeper into the provided data, I haven't found a `junit-dataprovider` dependency in your `pom.xml`.

BTW: Do you know [JGiven](jgiven.org) which provides you a more a developer-friendly and pragmatic BDD tool for Java using plain Java with a fluent, domain-specific API. This would support `junit-dataprovider` out-of-the-box :-)

[2020-04-26 08:39] aaschmid commented on #126
Some more hints which I found trying to create a simple reproducer:
* Have you tried newest cucumber version `5.6.0`
* Do you use `junit` or `testng` as both is on your classpath?
  * Do you mixed up `testng` and its dataprovider, with this one being a `junit` version of it?
* I am also unsure if you need an additional dataprovider for Cucumber if using [Data Tables](https://cucumber.io/docs/cucum

[2020-05-11 18:21] jaypatel512 opened #127 "Wiki pom.xml dependency shows older version"
## Overview

When going through [wiki page](https://github.com/TNG/junit-dataprovider/wiki/Getting-started#maven), I accidentally used older version of your dependency. Either we should update that for every release, or replace it with meta tag `<latest version here>` or similar.

<img width="817" alt="Screen Shot 2020-05-11 at 1 21 03 PM" src="https://user-images.githubusercontent.com/1309895/815

[2020-05-11 18:38] aaschmid commented on #127
Thanks for pointing out @jaypatel512. I fixed the cases on the mentioned page

[2020-05-11 18:38] #127 closed

[2020-05-11 18:41] jaypatel512 commented on #127
@aaschmid I had to include below dependency for it to really work. Not sure if the groupId is valid in wiki!

[code]

[2020-05-11 19:09] aaschmid commented on #127
You are right. thanks for pointing out.

[2020-11-01 16:18] aaschmid commented on #126
Closed due to no further response. Please don't hesitate to reopen

[2020-11-01 16:18] #126 closed

[2021-01-31 10:32] aaschmid opened #132 "Support lists of non-iterable parameterized type"
## Overview

- **Bug report.**

With the `junit4-dataprovider` in version 2.7 one cannot use `List<UnaryOperator<...>>` as the `@DataProvider` result because of the following exception while trying to calculate test cases:

[code]

Reproducer:

[code]

## Deliverables

- [x] add test cases to reproduce tests
- [x] fix the bug
- [x] check also if this bug exists for `core` or `junit-jupiter*`, resp

[2021-01-31 10:36] aaschmid commented on #132
Simple but ugly workaround would be using `List<List<UnaryOperator<String>>>` instead, e.g.:

[code]

[2021-01-31 15:08] #132 closed

[2021-03-09 07:57] zzkyeee opened #133 "How to use junit-dataprovider with powermock"
I want to use both junit-dataprovider and powermock, but @Runwith only one class.

[2021-03-09 08:06] aaschmid commented on #133
Yes, _junit4_ only allows one `@RunWith` and the _junit-dataprovider_ requires one - I tried to change but it is not possible to get rid of it. However _powermock_ seems to provide a `@Rule`, see https://github.com/powermock/powermock/wiki/powermockrule.

Does that help?

[2021-04-05 11:56] shiv20934 commented on #105
Getting the below issue after using v2.2
java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy
	at sun.reflect.annotation.AnnotationParser.parseClassArray(Unknown Source)
	at sun.reflect.annotation.AnnotationParser.parseArray(Unknown Source)
	at sun.reflect.annotation.AnnotationParser.parseMemberValue(Unknown Source)
	at java.lang.reflect.Method.getDefaultValue(Unknown

[2021-04-05 18:51] aaschmid commented on #105
@shiv20934: Can you provide more information and / or use v2.8 instead which might not have that issue anymore?

[2021-04-05 18:53] aaschmid commented on #133
@zzkyeee If you have any further questions, don't hesitate to reopen this issue but for now I will close it as there is no further response on an issue which seems to be unsolvable due to JUnit4s architectural constraints :-(

[2021-04-05 18:53] #133 closed

[2021-12-08 10:45] laaron2008 opened #134 "FrameworkMethod didn't get the right test"
- ( ) **Bug report.**
version: junit4-dataprovider 2.6

my test class likes this
![image](https://user-images.githubusercontent.com/23308615/145193999-23747c06-4f7d-4b0b-8e1e-80a22e19f9ac.png)

my dataprovider likes this
![image](https://user-images.githubusercontent.com/23308615/145194771-8c8ed250-0103-448f-b657-9bd0b11e6e8a.png)

when I run the getProduct case, the method is not getProduct, why?

[2021-12-08 10:49] aaschmid commented on #134
First guess: This is most likely due to the test names which are adjusted for working with data providers. What is the output of `method.getName()`?

[2021-12-08 10:58] laaron2008 commented on #134
it's getDuplicationProductDetail

[2021-12-08 11:04] aaschmid commented on #134
Ok, understood. This is a problem because before we know which test cases are available, we need to execute the `dataProvider`. The result of the ´dataProvider` is however cached and therefore only called once in order to do not waste time. In your case with the wrong name :-(

Can you try switching the cache off using `@DataProvider(cache = false)` instead?

[2021-12-08 11:09] laaron2008 commented on #134
I tried, but got the same result.
I just added the @DataProvider(cache = false)
Is there anything else I need to do?

[2021-12-08 11:54] aaschmid commented on #134
No, this should do the trick. The `dataProvider` method should now be called multiple times, once for each test method referencing it.

Then, I need some more time and try to get a reproducer for the issue.

[2021-12-11 15:45] aaschmid commented on #134
I am sorry @laaron2008 but I cannot reproduce it using `cache = false`. Here is my reproducer https://github.com/aaschmid/junit-dataprovider--134. Executed the tests from within IntelliJj or `./gradlew -i --no-build-cache clean test --tests "MyTest.getProduct[*0: {}, {}*]"` on command line.

[2021-12-12 03:16] laaron2008 commented on #134
I changed https://github.com/aaschmid/junit-dataprovider--134, and reproduce the problem.
![image](https://user-images.githubusercontent.com/23308615/145698787-a6dfd570-afc0-44d4-a6bd-2fee1bf3febb.png)
![image](https://user-images.githubusercontent.com/23308615/145698790-e39d8104-b9be-4c02-a4d0-07d53fc36e4b.png)
when I run the getProduct case, the method.getName() printed getDuplicationProductDeta

[2021-12-12 03:19] laaron2008 commented on #134
I guess the problem is

[2021-12-12 08:18] aaschmid commented on #134
Even though I would not suggest adding the `@RunWith(DataProviderRunner.class)` on `BaseJunit` I cannot reproduce it (see updates on https://github.com/aaschmid/junit-dataprovider--134). What did I do forget?

<img width="701" alt="Bildschirmfoto 2021-12-12 um 09 15 52" src="https://user-images.githubusercontent.com/567653/145705400-f0d3299e-f240-4870-af76-fbcc6ebcc309.png">
<img width="765" alt="

[2021-12-12 08:23] aaschmid commented on #134
Same in IntelliJ
<img width="1349" alt="Bildschirmfoto 2021-12-12 um 09 22 59" src="https://user-images.githubusercontent.com/567653/145705535-0467c2bd-5824-4a20-a6e1-60e0d279f2ae.png">

[2021-12-13 09:03] laaron2008 commented on #134
I gave up inherit and the case worked, thanks

[2021-12-13 11:17] aaschmid commented on #134
Ack, so I will close the issue. Don't hesitate to re-open it.

[2021-12-13 11:17] #134 closed